/* this is a lesscss file */

/* Media queries sizes.*/
@mobile_screen_portrait: 320px;
@mobile_screen_landscape: 480px;
@tablet_screen_portrait: 768x;
@normal_screen_small : 800px;

/* Sizes of the page layout for different devices */
@page_size_mobile_screen_portrait: 319px;
@page_size_mobile_screen_landscape: 440px;
@page_size_tablet_screen_portrait: 768x;
@page_size_normal_screen_small: 768px;
@page_size_tablet_screen_landscape: 976px;

/* Colors */
@color: red;

body {
  background: black;
	[role="header_wraper"] {
	  width: @page_size_tablet_screen_landscape;
	  padding: 0 16px;
		position: relative;
		margin: 0 auto;
		text-align: left;
		background: white;
		height: 40px;
		display:box;
    box-align:center;
	}
}


/* Small screens ----------- Start */
/* //////////////////////////////////////////////////////////////// */


@media screen and (max-width: @normal_screen_small) { /*800*/
  body {
		background: blue;
		[role="header_wraper"] {
		  width: @page_size_normal_screen_small;
		}
  }
}

/* //////////////////////////////////////////////////////////////// */
/* Small screens ----------- End*/

/* Smartphones (landscape) ----------- Start*/
/* //////////////////////////////////////////////////////////////// */
@media screen and (max-width: @mobile_screen_landscape) { /*480*/
  body {
		background: yellow;
		[role="header_wraper"] {
		  width: @page_size_mobile_screen_landscape;
		}
  }
}
/* //////////////////////////////////////////////////////////////// */
/* Smartphones (landscape) ----------- End*/


/* Smartphones (portrait) ----------- Start */
/* //////////////////////////////////////////////////////////////// */
@media screen and (max-width: @mobile_screen_portrait) { /*320*/
  body {
		background: red;		
		[role="header_wraper"] {
		  width: @page_size_mobile_screen_portrait;
		}
  }
}
/* //////////////////////////////////////////////////////////////// */
/* Smartphones (portrait) ----------- End */

/* iPhone 4 ----------- Start */
/* //////////////////////////////////////////////////////////////// */
@media only screen and (min-device-pixel-ratio : 1.5) {
	/* Your Styles */
	body {
		background: silver;
	}
}
/* //////////////////////////////////////////////////////////////// */
/* iPhone 4 ----------- End */

/* tablet portrait ----------- Start */
/* //////////////////////////////////////////////////////////////// */
@media only screen and (device-width: tablet_screen_portrait) and (orientation: portrait) {
  /* rules for iPad in portrait orientation */
}
/* //////////////////////////////////////////////////////////////// */
/* tablet portrait ----------- End */

/* tablet landscape ----------- Start */
/* //////////////////////////////////////////////////////////////// */
@media only screen and (device-width: tablet_screen_landscape) and (orientation: landscape) {
  /* rules for iPad in landscape orientation */
}
/* //////////////////////////////////////////////////////////////// */
/* tablet landscape ----------- End */




.rounded-corners (@radius: 5px) {
  border-radius: @radius;
}


div {
	h1 {
  		background: @color;
		.rounded-corners;
	}
}


