/*  Bootstrap Overides Stylesheet
    Last Updated: 2013-06-20
    Author: Lawrence Hawker - www.geansai.co.uk/
*/
.banner_alt {
  position:absolute;
  background: #2F2F2F;
  color: #ffffff;
  bottom: 0;
  padding: 2px 20px;
  display: inline-block;
  top: 350px;
  height: 14px;
}
#basic-modal-content {display:none;}
.popcontent {
  position:relative;
  height: 600px;
  overflow: hidden;
  p {
    position:absolute;
    bottom: 0px;
    z-index: 50000;
    display: block;
    text-align: center;
    background: #ffffff;
    width: 100%;
    padding: 20px 0;
    a{padding: 10px; color: #000000; cursor:pointer;}
  }
}
/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:600px; width:800px; color:#bbb; background-color:#333; border:4px solid #444; padding:0; overflow: hidden;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:444444200; position:absolute; top:-15px; right:-16px; cursor:pointer;}


/* setup global variables for button colors */
@buttons_red: #e61d34;
@buttons_red_hover: #d31b30;
@button_red_border: #e61d34;
@text_color_white: #ffffff;
@body_background_color: #e6e6e6;
@dropdown_submenu_bottom_border_color_green: #96bf3d;
@navigation_text_color: #000000;
@footer_background_color: #2f2f2f;
@seconder_font_size: 80%;
@footer_thumbnail_width: 120px;
@footer_thumbnail_height: 60px;
@cookie_message_wrapper_color: #005D85;
@comments_ui_background_color_dark: #fbfbfb;
@comments_ui_background_color_light: #f2f2f2;
@default_text_color: #333333!important;
@content_block_background_color: #ffffff;
@developer_section_color_marker: #00abbd;
@content_main_heading_color: #666666;
@content_h2_color: #01abba;
@search_box_color: #838383;
@sign_up_button_color: #ea6123;
@homepage_blue_color: #005292;
@homepage_button_hover_color: #004a83;
@latest_news_button_color: #828181;
@developer_section_red: #e83135;
@contractor_section_purple: #9c5fb5;
@refurbisher_section_blue: #00acbc;
@default_section_blue: #004a86;
@project_page_heading_one_color: #a7a7a7;

@normal_screen_1024: 1024px;
.slideshowlink {
  display: none!important;
}
@media print {
  .site-header {
    height: 150px;
  }
footer .footer_thumbnail_images {
  width: 500px!important;
  position: relative!important;
  display: inline-block!important;
  float: right;
}
.print_random_news {
  display: block!important;
  float: none!important;
  width: 99%!important;
  margin-bottom: 300px!important;
  .sub_heading {
    a {
      color: #333333!important;
    }
  }
}
.header-area {
  border: none!important;
}
.print_random_news .landing_page_news_img {
  float: left!important;
  margin-right: 20px!important;
  width: 200px!important;
  height: 200px!important;
}
  p, a, h1, h2, h3, h4, h5, .site-info, input, textarea{
    color: black!important;
  }

  a:after{content:" "!important;}

  body, .site-content, .projects_cluster_small_content, .projects_cluster_large_content{
    background: #ffffff!important;
  }
  .backstretch, .userOptions, .social_button_wrapper, .navbar, .section_select_buttons, .section_select_buttons ul,
  .site_search, .breadcrumb, .footer_nav_area, .section_select_nav, .print_video, .nav-pills, .btn-info{
    display: none!important;
  }
  div[rel=cookie_agree_box] {display: none!important;}
  .footer-area {
    background: #ffffff!important;
    border-top: 1px solid #999999;
  }
}

.print_random_news {
  .sub_heading {
    a {
      color: #333333!important;
    }
  }
  .btn-info {
      background-color: #818181 !important;
      background-image: -moz-linear-gradient(top, #dedede, #818181) !important; 
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#818181)) !important; 
      background-image: -webkit-linear-gradient(top, #dedede, #818181) !important; 
      background-image: -o-linear-gradient(top, #dedede, #818181) !important; 
      background-image: linear-gradient(to bottom, #dedede, #818181) !important; 
      background-repeat: repeat-x;
    .active {
      background: #818181!important;
    }
  }
}

@media screen and (max-width: @normal_screen_1024) { /*800*/
   
  .large_banner_txt {
    left:4%!important;
  }

}

/* Media queries sizes.*/
@mobile_screen_portrait: 420px;
@mobile_screen_landscape: 500px;
@normal_screen_small: 768px;

/* UI Bars and Buttons */
#back-top {
	position: fixed;
	bottom: 110px;
	right: 30px;
	z-index: 300;
	a {
	    width: 108px;
	    display: block;
	    text-align: center;
	    font: 11px/100% Arial, Helvetica, sans-serif;
	    text-transform: uppercase;
	    text-decoration: none;
	    color: #999;
      /* transition */
	    -webkit-transition: 1s;
	    -moz-transition: 1s;
	    transition: 1s;
	}
	a:hover {
	  color: #000;
	  span {
	    background-color: #999;
	  }
	}

	span {
	  width: 40px;
	  height: 40px;
	  display: block;
	  margin-bottom: 7px;
	  margin: 0 auto 6px auto;
	  background: #ddd url(up-arrow.png) no-repeat center center;
	  /* rounded corners */
	  -webkit-border-radius: 15px;
	  -moz-border-radius: 15px;
	  border-radius: 15px;
	  /* transition */
	  -webkit-transition: 1s;
	  -moz-transition: 1s;
	  transition: 1s;
	  strong {
      padding-top: 14px;
      display: block;
    }
	}
}

/* back to top button */
.mapp-links {
  display: none!important;
}
.media-list {
  .children{
    padding-left: 20px;
    padding-top: 10px;
    background: @comments_ui_background_color_dark;
  }
  .pull-left {
    padding-right: 20px;
    clear: left;
  }
  .depth-1 {
    margin-bottom: 10px;
    background: @comments_ui_background_color_light;
    padding: 10px 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  .reply {
    margin: 5px 0 10px 0;
  }
}
.alert-info {
  background: @comments_ui_background_color_light;
}

hr {
  float: none;
  clear: both;
}
.alignleft, .alignright {
  margin-bottom: 10px;
}
div[rel="cookie_agree_box"] {
    color: @text_color_white;
}
.row-fluid {
  background: @cookie_message_wrapper_color;
  margin: 0;
  padding: 0;
  /*font-size: @seconder_font_size;*/
  p {
    padding: 6px 0;
  }
}
.site-main {
  background: @content_block_background_color;
  max-width: 960px;
}
#page {
  max-width: 960px!important;
}
#content {
  color: @default_text_color;
  padding: 20px 20px 30px 20px;
  line-height: 22px;
    .edit-link {
      display: block;
      text-align: right;
      padding-right: 20px;
    }
  .row-fluid {
    background: transparent;
    
  }
}

.entry-content {
  ul {margin-left: 15px;}
}

.userOptions {
  button {
    background: @buttons_red;
    color: @text_color_white;
    text-shadow: none;
    border: 1px solid @button_red_border;
    padding: 5px;
    display: none !important;
  }
  button:hover {
    background: @buttons_red_hover;
    color: @text_color_white;
    border: 1px solid @button_red_border;
  }
  .selection_menu {
    background: @buttons_red;
    a {
      color: @text_color_white;
      /*font-size: @seconder_font_size!important;*/
      font-size: 11px;
    }
  }
}

.navbar {
  margin-bottom: 0;
  .dropdown-submenu > a::after {
    display: none;
  }
}

#menu-item-647 {
  a {
    border-left: none;
  }
}
/* sidebar navigation */
.advanced-sidebar-menu {
  padding: 6px 0;
    li .children {margin-left: 10px;}
    .children li:before { content: ' » '; }
}
/* Override the dropdown menu button within the main navigation STRAT */ 
.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 12px 0 14px 12px;
  li a {
    font-weight: bold;
    color: @navigation_text_color;
  }
}
.dropdown-menu {
  .active {
    background: none;
  }
}
.nav >.dropdown-submenu > .dropdown-menu {
    top: 25px;
    left: -10px;
    border-radius: 6px 0px 6px 6px;
    background-image: none!important;
    border-bottom: 2px solid @dropdown_submenu_bottom_border_color_green;
}
.dropdown-menu a, .dropdown-menu a:hover, .dropdown-menu a:focus {
  border-bottom: none!important;
}
.screen-reader-text {
  display: none;
}

.navbar-inner {
  min-height: 30px;
  padding-right: 0;
  padding-left: 0;
  margin-top: 38px;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: none;
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='whiteff', endColorstr='#FFF2F2f2', GradientType=0);*/
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar .nav > li > a {
  border-left: 1px solid @navigation_text_color;
  color: @navigation_text_color;
  padding: 1px 15px 1px;
}

.menu-item-home > a {
  border: none!important;
  padding: 1px 15px 1px 0!important;
}

.current_page_item a, .current-page-parent a, .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  border-bottom: 2px solid @dropdown_submenu_bottom_border_color_green;
}

/* Override the dropdown menu button within the main navigation END */ 

/* Document body style rules START */
body {
  background: @body_background_color;
}
h1 {
  margin: 2px 0 10px 0;
}
h2 {
  font-size: 1.6em;
  margin-bottom: 10px;
  line-height: 1.2em;
}
h3 {
  font-size: 1.3em;
  line-height: 1em;
}
h4, h5, h6 {
  font-size: 1em;
  line-height: 1em;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.sub_heading {
    font-size: 1.2em;
}

/* google map rules */
.map_sprite_icons {
  width: 23px;
  height: 31px;
  display: block;
  float: left;
  margin-right: 3px;
  margin-top: -3px;
}
.map_area {
  position: relative;
  top: 0;
  left: 0;
    .map_key {
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: 60%;
      height: 70px;
      z-index: 200;
      background: @content_block_background_color;
       ul {
          list-style: none;
          margin: 20px 20px 0 20px;
          li {
            
            display: inline-block;
          }
          .developments_map_icon { 
            padding: 10px 0 10px 20px;            
              span {
                .map_sprite_icons();
                background: transparent url('../../images/icon_sprites.gif')  1px -24px no-repeat; 
              }
          }

          .refurbishment_map_icon {
            padding: 10px 0 10px 20px;
            span {
                .map_sprite_icons();
                background: transparent url('../../images/icon_sprites.gif')  -32px -24px no-repeat; 
              }
          }
          .contractor_map_icon {
            padding: 10px 0 10px 20px;
            span {
                .map_sprite_icons();
                background: transparent url('../../images/icon_sprites.gif')  -61px -24px no-repeat; 
              }
          }
       }
    }
}
/* Grid systems */
.project_filter_nav {
  text-align: right;
  margin: 0 0 10px 0;
    a {
        text-align: left;
    }
}
.project_tagged_clusters {
  .carousel {
    margin-bottom: 0!important;
  }
  .span12 {
    min-height: 210px;
    max-height: 210px;
    _height: 210px;
    .thumbnails {
      .span5 {
        margin: 0;
        padding: 0;
        max-height: 210px;
        min-height: 210px;
        _height: 210px;
        overflow: hidden;
        max-width: 328px;
      }
      .span7 {
        background: @footer_background_color;
        padding: 10px;
        color: @text_color_white;
        min-height: 246px;
        max-height: 246px;
        height: 1%;
        _height: 246px;
        margin: 0;
        display: inline-block;
        max-width: 600px;
          p {
            padding: 6px 5px 6px 0;
            width: 400px;
          }
      }
    }
  }
}
.featured_image {
  .projects_cluster_large_img {
    display: block;
    width: 100%;
    /*overflow: hidden;
    height: 380px;
    margin-bottom: 6px;*/
    img {
      width: 100%;
      -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
      box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
    }
    .mapp-layout {
      -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
      box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
    }   
  }
}
.projects_cluster {
    line-height: 17px;
    font-size: 12px;
    .projects_cluster_large {
      color: @text_color_white; 
      background: @footer_background_color; 
      width:50%; 
      float: left; 
      height: 350px; 
      margin: 0;
      position: relative;
      .projects_cluster_large_img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: block;
            height: 350px;
            overflow: hidden;
            z-index: 20;
            img {
              width: 100%;
              height: 100%;
            }
        }
        .projects_cluster_large_content {
          background: @buttons_red;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 25;
          width: 90%;
            p { 
              padding: 2px 43px 2px 5px;
            }
            header h2 {
              padding: 2px 5px 0 5px;
              margin: 0;
              color: @navigation_text_color;
              line-height: 20px;
            }
            a {
              color: @text_color_white;
            }
        }
    }
    .projects_cluster_small {
      color: @text_color_white; 
      width:25%; 
      float: left; 
      height: 175px; 
      margin: 0;      
      position: relative;
        .projects_cluster_small_img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: block;
            height: 175px; 
            overflow: hidden;
            z-index: 26;
              img {
                width: 100%;
              }
        }
        .projects_cluster_small_content {
            background: @footer_background_color;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 27;
            width: 100%;
            p { 
              padding: 2px 43px 2px 5px;
            }
            header h2 {
              padding: 5px 5px 0 5px;
              margin: 0;
              line-height: 20px;
            }
            
        }
    }
}


			
			
/* Header rules start */
.header-area {
  margin: 0;
  padding: 0;
  background: @content_block_background_color;
  border-top: 3px solid @developer_section_red;
  border-bottom: 3px solid @developer_section_red;
}

.contractor_selector {
  border-color: @contractor_section_purple;
  .userOptions {
    button {
      background: @contractor_section_purple;
      border-color: @contractor_section_purple;
    }
    .selection_menu {
      background: @contractor_section_purple;
    }
  }
}

.refurbisher_selector {
  border-color: @refurbisher_section_blue;
  .userOptions {
    button {
      background: @refurbisher_section_blue;
      border-color: @refurbisher_section_blue;
    }
    .selection_menu {
      background: @refurbisher_section_blue;
    }
  }
}

.projects_navigation {
  padding: 1px 10px 10px 10px;
  /*border-bottom: 2px solid #A7A7A7;*/
  margin-bottom: 6px;
  li { 
    margin-right: 10px;
    span {
      display: inline-block;
      padding-top: 6px;
      padding-right: 5px;
    }
    input { margin-right: 12px; margin-top: -5px;}
  }
  .nav {margin-bottom: 0;}
}
.page-template-projects-landing-page-php, .page {
  article {
    .entry-content {
      width: 90%;
      /*text-align:justify;
      text-justify:inter-word;*/
    }
  }
}
article {
  h2 {
    font-size: 1.4em;
    margin-top: 15px;
  }
  h3 {
    font-size: 1.2em;
    margin-top: 14px;
  }
  h4 {
    font-size: 1.1em;
    margin-top: 12px;
  }
  ul {
    margin-left: 30px;
    margin-bottom: 7px;
    margin-top: 7px;
  }
}

      
      
      
.single {
  #content {
    article {
      width: 90%;
    }
  }
}
.page-template-projects-landing-page-php, .page-template-default, 
.page-template-contact-page-php, .page-template-news-landing-page-php,
.single-post {
  .header-area {
    border-color: @default_section_blue;
    .userOptions {
      button {
        background: @default_section_blue;
        border-color: @default_section_blue;
      }
      .selection_menu {
        background: @default_section_blue;
      }
    }
  }
}

.social_button_wrapper {
    text-align: right;
    float: right;
}
.featured_image {
  .social_button_wrapper {
    padding: 10px 0 0 0;
  }
}
.sm {
  .social_button_wrapper {
    padding: 10px 0 0 0;
  }
}
.page-template-homepage-php {
  .social_button_wrapper {
    position: absolute;
    width: 121px;
    height: 25px;
    top: 100px;
    right: 4px;
  }
}


/* projectTabs rules */

.projectTabs_developer_selector {
  border-color: transparent;
  .active {
    a:hover {
      background: #ffffff;
      color: #08C;
      text-decoration:underline;
    }
    a { 
      background: #ffffff;
      color: #08C;
      padding-left: 0;
      text-decoration:underline;
      }
  }
}
.developer_selector_text {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9FFF0000', endColorstr='#9FFF0000')!important; /* IE */
background-color: rgba(255, 0, 0, 0.8)!important;
}
.developer_selector {
  .sub_heading {
    color: @developer_section_red!important;
    font-weight: bold;
    font-size: 20px;
  }
  #projectIntro {
    h2{
      color: @developer_section_red!important;
      font-weight: bold;
      font-size: 25px;
    }
  }
}
.projectTabs_developertab_selector {
  background: @developer_section_red!important;
  background-image: none!important;
  span {
    display: none!important;
  }
}

.contractor_selector_text {
  background-color:rgba(156,95,181,0.8) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9F9C5FB5', endColorstr='#9F9C5FB5')!important; /* IE */
}
.contractor_selector {
  .sub_heading {
    color: @contractor_section_purple!important;
    font-weight: bold;
    font-size: 20px;
  }
  #projectIntro {
    h2{
      color: @contractor_section_purple!important;
      font-weight: bold;
      font-size: 25px;
    }
  }
}
.projectTabs_contractor_selector {
  border-color: transparent;
  .active {
    a:hover {
      background: #ffffff;
      color: #08C;
      text-decoration:underline;
    }
    a { 
      background: #ffffff;
      color: #08C;
      padding-left: 0;
      text-decoration:underline;
      }
  }
}
.dropdown-menu {
  .active {
      a { background:none!important; color: #333333!important;}
    }

}
.projectTabs_contractortab_selector {
  background: @contractor_section_purple!important;
  background-image: none!important;
  border-color: transparent;
  span {
    display: none!important;
  }
}
.projectTabs_refurbishertab_selector {
  background: @refurbisher_section_blue!important;
  background-image: none!important;
  border-color: transparent;
  span {
    display: none!important;
  }
}



.refurbisher_selector_text {
  background-color:rgba(0,172,188,0.8) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9F00ACBC', endColorstr='#9F00ACBC')!important; /* IE */
}
.refurbisher_selector {
  .sub_heading {
    color: @refurbisher_section_blue!important;
    font-weight: bold;
    font-size: 20px;
  }
  #projectIntro {
    h2{
      color: @refurbisher_section_blue!important;
      font-weight: bold;
      font-size: 25px;
    }
  }
}
.projectTabs_refurbisher_selector {
  .active {
    a:hover {
      background: #ffffff;
      color: #08C;
      text-decoration:underline;
    }
    a { 
      background: #ffffff;
      color: #08C;
      padding-left: 0;
      text-decoration:underline;
      }
  }
}


.site-header {
  position: relative;
  background: @content_block_background_color;
}


.section_select_buttons {
      position: absolute;
			top: 70px;
			right: 0;
			width: 318px;
			text-align: right;
			height: 100px;			   
        ul {
          list-style: none;
          .developer_button a {
              background: transparent url('../../images/section_select_button_sprite.gif') 0 0 no-repeat;   
          }
          .contractor_button a {
              background: transparent url('../../images/section_select_button_sprite.gif') -107px 0 no-repeat;
          }
          .refurbisher_button a {
              background: transparent url('../../images/section_select_button_sprite.gif') -214px 0 no-repeat;
          }
            
          .developer_button a:hover {
            background: transparent url('../../images/section_select_button_sprite.gif') 0 -119px no-repeat;
          }
          .contractor_button a:hover {            
            background: transparent url('../../images/section_select_button_sprite.gif') -107px -119px no-repeat;
          }
          .refurbisher_button a:hover {
              background: transparent url('../../images/section_select_button_sprite.gif') -214px -119px no-repeat;
          }
        }
        li {
          display: inline;
        }
        a {
          height: 100px;
          width: 106px;
          display: block;
          float: left;
          text-align: center;
          cursor: pointer;
          text-indent:-9999px
        }
        
}
.Developer {
  .developer_button a {
      background: transparent url('../../images/section_select_button_sprite.gif') 0 -119px no-repeat!important;
  }
}

.Refurbisher {
  .refurbisher_button a {
      background: transparent url('../../images/section_select_button_sprite.gif') -214px -119px no-repeat!important;
  }
}  

.Contractor {
  .contractor_button a {
      background: transparent url('../../images/section_select_button_sprite.gif') -107px -119px no-repeat!important;
  }
}


/* Projects content page start */
#refurbishment_section {
  .projects_cluster_large_img {
    display: block;    
    width: 100%;
    img {
      width: 100%;
      -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
      box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);    
    }
  }
  
  .project_attachments {
    border-color: @refurbisher_section_blue;
  }
  .entry-header {
    h2 {color: @refurbisher_section_blue;}
    .entry-title {
      color: @project_page_heading_one_color;
      border-bottom: 2px solid @refurbisher_section_blue;
      margin-bottom: 12px;
    }
  }
  
  #gallery {
    border-top: 2px solid @refurbisher_section_blue;
    padding-top: 12px;
    h2 {color: @refurbisher_section_blue;}
  }
  
  .map_area {margin-top: 12px;}
  
  .header-area {
    border-color: @refurbisher_section_blue;
    .section_select_buttons { 
      ul {
        .refurbisher_button a {
          background: transparent url('../../images/section_select_button_sprite.gif') -214px -119px no-repeat!important;
        }
      } 
    }  
    .userOptions {
      button {
        background: @refurbisher_section_blue;
        border-color: @refurbisher_section_blue;
      }
      .selection_menu {
        background: @refurbisher_section_blue;
      }
    }
  }
}


.page-template-default, .page-template-contact-page-php, 
.page-template-projects-landing-page-php, .page-template-news-landing-page-php,
.single-post, .single {
  .entry-header {
    h2 {color: @developer_section_red;}
    .entry-title {
      color: @project_page_heading_one_color;
      border-bottom: 2px solid @project_page_heading_one_color;
      margin-bottom: 12px;
      margin-top: 6px;
    }
  }
}

#developer_section {
  .projects_cluster_large_img {
    display: block;    
    width: 100%;
    img {
      width: 100%;
      -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
      box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);    
    }
  }
    
  .project_attachments {
    border-color: @developer_section_red;
  }
  .entry-header {
    h2 {color: @developer_section_red;}
    .entry-title {
      color: @project_page_heading_one_color;
      border-bottom: 2px solid @developer_section_red;
      margin-bottom: 12px;
    }
  }
  
  #gallery {
    border-top: 2px solid @developer_section_red;
    padding-top: 12px;
    h2 {color: @developer_section_red;}
  }
  
  .map_area {margin-top: 12px;}
  
  .header-area {
    border-color: @developer_section_red;
    .section_select_buttons { 
      ul {
        .developer_button a {
          background: transparent url('../../images/section_select_button_sprite.gif') 0 -119px no-repeat!important;
        }
      } 
    }  
    .userOptions {
      button {
        background: @developer_section_red;
        border-color: @developer_section_red;
      }
      .selection_menu {
        background: @developer_section_red;
      }
    }
  }
}

.section_header_developer {
  margin-top: 1px;
  color: @developer_section_red;
  span {
      background: transparent url('../../images/icon_sprites.gif')  1px -24px no-repeat; 
       .map_sprite_icons();
       margin-top: 0;
  }
}
.section_header_contractor {
  margin-top: 1px;
  color: @contractor_section_purple;
  span {
      background: transparent url('../../images/icon_sprites.gif')  -60px -24px no-repeat; 
       .map_sprite_icons();
       margin-top: 0;
  }
}
.section_header_refurbishment {
  margin-top: 1px;
  color: @refurbisher_section_blue;
  span {
      background: transparent url('../../images/icon_sprites.gif')  -30px -24px no-repeat; 
       .map_sprite_icons();
       margin-top: 0;
  }
}

#contractor_section {
  .projects_cluster_large_img {
    display: block;    
    width: 100%;
    img {
      width: 100%;
      -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
      box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);    
    }
  }
  
  .project_attachments {
    border-color: @contractor_section_purple;
  }
  .entry-header {
    h2 {color: @contractor_section_purple;}
    .entry-title {
      color: @project_page_heading_one_color;
      border-bottom: 2px solid @contractor_section_purple;
      margin-bottom: 12px;
    }
  }
  
  #gallery {
    border-top: 2px solid @contractor_section_purple;
    padding-top: 12px;
    h2 {color: @contractor_section_purple;}
  }
  
  .map_area {margin-top: 12px;}
  
  .header-area {
    border-color: @contractor_section_purple;
    .section_select_buttons { 
      ul {
        .contractor_button a {
          background: transparent url('../../images/section_select_button_sprite.gif') -107px -119px no-repeat!important;
        }
      } 
    }        
    .userOptions {
      button {
        background: @contractor_section_purple;
        border-color: @contractor_section_purple;
      }
      .selection_menu {
        background: @contractor_section_purple;
      }
    }
  }
}
/* Projects content page end */


.site_logo {
  position: absolute;
  width: 191px;
  height: 65px;
  top: 10px;
  left: 0;
  z-index: 200;
  img {
    border: none;
    width: 191px;
    height: 65px;
  }
}
/*serchbox rules */
.site_search {
  clear: both;
  position: relative;
  top: 25px;
  padding: 2px 0 10px 0;
  text-align: right;
  input {
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
    }
  .btn-info {
    padding: 2px 5px;
    background-color: @sign_up_button_color;
    background-image: -webkit-linear-gradient(@sign_up_button_color, @sign_up_button_color, @sign_up_button_color);
    background-image: -o-linear-gradient(top, @sign_up_button_color, @sign_up_button_color);
    background-image: linear-gradient(to bottom, @sign_up_button_color, @sign_up_button_color);
    background-repeat: repeat-x;
    border-color: @sign_up_button_color @sign_up_button_color @sign_up_button_color;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-size: 11px;
  }
  #searchsubmit {
    color: #fff;
    background: transparent url('../../images/icon_sprites.gif') 10px 1px no-repeat;    
    text-decoration:none;        
    text-shadow: none;
    padding: 0 5px;
    border: none;
    span {
      overflow: hidden;
      text-indent: 135px;
      width: 25px;
      height: 20px;
      display: block;
      background: transparent;
    }
  }
}
/* form overides */
.form-horizontal .control-label {
  margin-right: 20px;
  width: 100%;
  float: none;
  text-align: left;
}

.contact-download-pod {
  background: @default_section_blue;
  color: @text_color_white;
  padding: 6px 0;
  .project_attachments {
    border: none;
  }
  .widget-title {
    display: none;
  }
  a {
    color: @text_color_white;
  }
  .attachment_description {
    display: block!important;
    padding: 3px 10px;
    border: none!important;
    height: auto;
    overflow: auto;
  }
}

.QapTchaWrapper {
  /*padding-left: 160px;*/
}

.list-radio-wrap {
  padding-left: 160px;
}

.searchform {
  border: 1px solid @search_box_color;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 2px;
  margin-top: 10px;
  font-size: 100%;
  input {
    font-size: 11px;
  }
  #appendedInputButton {
    padding: 0 2px;
  }
}
.widget-download a {
  font-size: 11px;
}
/* Header rules end */

/* Content area start */
.widget_column {
  .content_wrapper {
    border-top: 4px solid @developer_section_color_marker;
    margin-top:10px;
  }
}
.attachment_description {
  border-bottom: 1px solid @content_main_heading_color;
  margin-bottom: 5px;
  line-height: 1.1em;
  padding-bottom: 7px;
}

.download_icon_span {
  width: 36px;
  height: 36px;
  display:inline-block;
  margin-right: 3px;
}

.project_attachments {
  margin: 6px 0;
  border-bottom: 2px solid;
  border-color: @buttons_red;
  padding: 10px 0 6px 0;
  .attachment_description {
    display: none;
  }
  h3 {
    float: left;
    margin-right: 10px;
  }
  a {
    height: 36px;
    margin-left: 6px;
    display:inline-block;
    strong {
      vertical-align:text-top;
      margin-top: -15px;
      margin-left: 2px;
      font-weight: normal;
      display:inline-block;
    }
    
  }
  
  .pdf span{
    background: transparent url('../../images/icon_sprites.gif')  -36px -54px no-repeat;
    .download_icon_span(); 

  }
  .plain span{
    background: transparent url('../../images/icon_sprites.gif')  -101px -54px no-repeat; 
    .download_icon_span();
  }
  .msword span{
    background: transparent url('../../images/icon_sprites.gif')  0 -54px no-repeat; 
    .download_icon_span(); 
  }
  .zip span{
    background: transparent url('../../images/icon_sprites.gif')  -134px -54px no-repeat; 
    .download_icon_span(); 
  }
  .vndms-excel span{
    background: transparent url('../../images/icon_sprites.gif')  -162px -54px no-repeat; 
    .download_icon_span(); 
  }
}

.refurbisher_download_selector {border-color: @refurbisher_section_blue;}
.contractor_download_selector {border-color: @contractor_section_purple;}

.content_wrapper {
  background: @content_block_background_color;
  padding: 6px 10px;
  line-height: 1.6em;
  /*text-align:justify;
  text-justify:newspaper;
  text-align-last: justify;
  -moz-text-align-last: center;*/
  section {
    article {
      h2 {
        color: @content_h2_color;
      }
      header {
        h2 {
          border-bottom: 1px solid @content_main_heading_color;
          margin:5px 0 10px 0;
          a, a:hover {
            color: @content_main_heading_color;
          }
        }
      }
    }
  }
}

.search_content {
  p {
    margin-right: 70px;
    margin-bottom: 10px;
  }
}
/* sidebar widget */
.widget-area {
  .widget {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;
  }
  aside {
    clear: left;
  }
  aside h3{
    color: black;
  }
  aside ul {
    list-style: none;
    margin: 0;
  }
  .widget_calendar {
    table {
      width: 100%;
    }
    tbody td{
      background: #E6E6E6;
      text-align: center;
      padding: 5px;
    }
    tbody td a {
      background: #fff;
      padding: 2px;
      text-align: center!important;
    }
    caption {
      margin-bottom: 20px!important;
    }
  }
}

[class^="icon-"], [class*=" icon-"] {
  margin-top:0;
  margin-right: 5px;
}
/* Latest news section rules */
.pagination {
  margin: 5px 0;
}
.pagination_clearfix {
  clear: left; margin: 0; padding: 0; line-height: 2px;
  border-top: 1px solid black;
}
#news {
  .newsItems {
    clear: left;
    border-top: 1px solid @navigation_text_color;
    margin: 10px 0;
    min-height: 130px;
    height: auto;
    padding: 10px 0 0 0;
    .project_attachments {
      border: none;
    }
    p {
      width: 90%;
      /*text-align:justify;
      text-justify:inter-word;*/
      a {
        font-weight: bold;
      }
    }
    .projects_cluster_large_img {
      img {
        float: left;
        margin-right: 20px;
        margin-bottom: 50px;
        margin-top: 10px;
      }
    }
  }
  .featuredNewsItem {
    font-size: 1.2em;
    line-height: 1.6em;
    color: @project_page_heading_one_color;
    margin-right: 80px;
  }
  p {
    a {
      color: @navigation_text_color;
    }
  }
  h3 {
    a {
      color: @default_section_blue;
    }
  }
}

/* news ticker */
.news_ticker {
  margin: 40px 0 0 0;
  padding: 0;
  background: transparent url('../../images/news_ticker_icon.gif')  0 0 no-repeat;
  height: 32px;
  div {
    padding:6px 10px 0 50px;
  }
}
/* home page rules */
.home {
  .header-area {
    border-color: @homepage_blue_color;
  }
  .site-main {
    background-color: rgba(35, 31, 32, 0.8);
    color: @text_color_white;
  }
  #content {
    color: @text_color_white!important;
    padding: 30px 0px;
    .entry-header {
      display: none;
    }
    .entry-content {
      font-size: 2.1em;
      line-height: 1.2em;
      padding: 0 50px;
      margin-top: 10px;
        p {
          padding: 0 50px;
          text-shadow: -2px 2px 2px #050505;
    -moz-text-shadow: -2px 2px 2px #050505;
    -webkit-text-shadow: -2px 2px 2px #050505;
filter: dropshadow(color=#050505, offx=-2, offy=2);
        }
      .section_select_nav {
        ul {
          list-style: none;
          margin: 40px 10px 10px 0;
          padding: 0;
          .developer_btn {background: transparent url('../../images/developer_btn_large.gif')  0 0 no-repeat;}
          .contractor_btn {background: transparent url('../../images/contractor_btn_large.gif')  0 0 no-repeat; margin: 0 20px;}
          .refurbisher_btn {background: transparent url('../../images/refurbisher_btn_large.gif')  0 0 no-repeat; }
          
          .developer_btn:hover {background-position: 0 -265px;}
          .contractor_btn:hover {background-position: 0 -265px;}
          .refurbisher_btn:hover {background-position: 0 -265px; }
          
          li {
            display: inline;
            float: left;
            a {
              height: 255px;
              display: block;
              text-indent: -99999px;
              width: 260px;
            }
          }
        }
      }
    }
  }
  .userOptions {
    button {
      background:  @homepage_blue_color;
      border: 1px solid @homepage_button_hover_color;
    }
    button:hover {
      background:  @homepage_button_hover_color;
      border: 1px solid @homepage_button_hover_color;
    }
    .selection_menu {
      background:  @homepage_blue_color;
    }
    
  }
  
  .site-header {
    .section_select_buttons {
      display: none;
    }
  }
}

.projects_back_btn {
  width: 100%;
  text-align: right;
    a {
      margin-right: 10px;
    }
}
#projectIntro {
  article {
    padding-right: 80px;
    p {
      margin-bottom: 10px;
    }
  }
}
#active_WHISCERS {
  article {
    padding-right: 80px;
    p {
      padding-bottom: 10px;
    }
  }
}
.default_page {
  .entry-content {
    h2 {
      /* border-bottom: 1px solid #0072A4; */
      color: #0072A4;
    }
    h3 {
       /* border-bottom: 1px solid #0072A4; */
      color: #0072A4;
      margin-top: 10px;
    }
    h4 {
       /* border-bottom: 1px solid #0072A4; */
      color: #0072A4;
    }
  }
}
.single {
    h2 {
       /* border-bottom: 1px solid #0072A4; */
      color: #0072A4;
    }
    h3 {
       /* border-bottom: 1px solid #0072A4; */
      color: #0072A4;
      margin-top: 10px;
    }
    h4 {
       /* border-bottom: 1px solid #0072A4; */
      color: #0072A4;
    }
}
/* home page latest new rules */
.latest_news {
  #Carousel_Latest_News {
    margin-top: 15px;
    /* need to change this for IE */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0.5,startColorstr='#4c0d0d0d', endColorstr='#4c0d0d0d')!important; /* IE */
    background-color: rgba(13, 13, 13, 0.7)!important;
    padding-bottom: 40px;
    margin-bottom: -31px;
      h3 {
        margin-bottom: 10px;
        margin-top: 7px;
        font-size: 1.4em;
        text-shadow: -2px 2px 2px #050505;
    -moz-text-shadow: -2px 2px 2px #050505;
    -webkit-text-shadow: -2px 2px 2px #050505;
filter: dropshadow(color=#050505, offx=-2, offy=2);
      }
      p {
        font-size: 1.1em;
        padding-right: 10px;
        text-shadow: -2px 2px 2px #050505;
    -moz-text-shadow: -2px 2px 2px #050505;
    -webkit-text-shadow: -2px 2px 2px #050505;
    filter: dropshadow(color=#050505, offx=-2, offy=2);
    
    font-weight: bold;
    
    
      }
      header {
        display: block;
        height: 34px;
        background: @latest_news_button_color;
        position:relative;
        margin-bottom: 20px;
        h2 {
          position: absolute;
          top: 5px;
          left: 45px;
        }
        .left {
          color: white;
          background: @latest_news_button_color;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 1em;
          padding: 10px 11px;
          /*box-shadow: 3px 0px 3px rgba(76, 76, 76, 0.75);*/
          -webkit-box-shadow: 3px 0px 3px rgba(76, 76, 76, 0.75);
          -moz-box-shadow: 3px 0px 3px rgba(76, 76, 76, 0.75);
          box-shadow: 3px 0px 3px rgba(76, 76, 76, 0.75);
        }
        .left:hover, .right:hover {text-decoration:none; color: #ccc;}
        .right {
          color: white;
          background: @latest_news_button_color;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 1em;
          padding: 10px 11px;
          /*box-shadow: -3px 0px 3px rgba(76, 76, 76, 0.75);*/
          -webkit-box-shadow: -3px 0px 3px rgba(76, 76, 76, 0.75);
          -moz-box-shadow: -3px 0px 3px rgba(76, 76, 76, 0.75);
          box-shadow: -3px 0px 3px rgba(76, 76, 76, 0.75);
        }
      }
  }
}
/* Footer rules start */
.footer-area {
  background: @footer_background_color;
  background-image: linear-gradient(bottom, #2f2f2f 23%, #242323 61%);
  background-image: -o-linear-gradient(bottom, #2f2f2f 23%, #242323 61%);
  background-image: -moz-linear-gradient(bottom, #2f2f2f 23%, #242323 61%);
  background-image: -webkit-linear-gradient(bottom, #2f2f2f 23%, #242323 61%);
  background-image: -ms-linear-gradient(bottom, #2f2f2f 23%, #242323 61%);

  background-image: -webkit-gradient(
	  linear,
	  right bottom,
	  right top,
	  color-stop(0.23, #2f2f2f),
	  color-stop(0.61, #242323)
    );
}

footer {
  padding: 20px 10px;
  color: @text_color_white;
  /*font-size: @seconder_font_size;*/
  position: relative;
  a { 
    color: @text_color_white;
  }
  .footer_thumbnail_images {
    position: absolute;
    right: 20px;
    top: 25px;
    width: 420px;
  }
  .footer_thumbnail_images a {
    float: right;
    padding: 0 0 0 20px;
  }
}
.footer_thumbnail {
  img {
    width: @footer_thumbnail_width;
    height: @footer_thumbnail_height;
  }
}

.site_footer_image_large {
  img {
    width: @footer_thumbnail_width;
    height: 60px!important;
  }  
}

.footer_navbar {
  margin: 15px 0 0 0;
  li {
    display: inline;
    padding-right: 6px;
    border-right: 1px solid #fff;
  }
  a:hover, a:focus {
    color: @text_color_white;
  }
}

/* //////////////////////////////////////////////////////////////// */
/* images */
.entry-thumbnail {
    height: 300px;
    overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.landing_page_news_img {
  width: 100%;
  margin-bottom: 6px;
  height: 183px;
  overflow: hidden;
    img {
      width: 100%;
    }
}
/* //////////////////////////////////////////////////////////////// */
/* Footer rules end */
/* Document body style rules END */

/*de9b26*/
.testimage {
  display: none;
}
@media screen and (max-width: @normal_screen_small) { /*800*/

 .section_select_buttons {
   position: relative;
   top: 20px !important;
   left: 410px!important;
  }

  /* map rules */
.map_key {width: 80%!important; bottom: 30px!important;}

#branding {
    height: 270px!important;
  }
  
.home {
  #content {
    .entry-content {
      font-size: 2em;
      .section_select_nav{
         ul {
           margin: 40px 0;
           padding: 0;
           li {
             .developer_btn {background: transparent url('../../images/developer_btn_mid.gif')  0 0 no-repeat;}
             .contractor_btn {background: transparent url('../../images/contractor_btn_mid.gif')  0 0 no-repeat; margin: 0 10px;}
             .refurbisher_btn {background: transparent url('../../images/refurbisher_btn_mid.gif')  0 0 no-repeat; }        
             
             .developer_btn:hover {background-position: 0 -204px;}
             .contractor_btn:hover {background-position: 0 -204px;}
             .refurbisher_btn:hover {background-position: 0 -204px; }
          
             a {
               height: 200px;
               width: 205px;
               float: left;
             }
            }
        }
      }
    }
  }
} 
  
}
/* Smartphones (portrait) ----------- Start */
/* //////////////////////////////////////////////////////////////// */
@media screen and (max-width: @mobile_screen_portrait) { /*320*/

.project_tagged_clusters {
  .span12 {
    height: 400px!important;
    .thumbnails {
      .span5 { 
        min-height: 10px!important;
      }
      
    } 
  }
   
}

#Carousel_Latest_News {
  h3 {
    margin-bottom: 10px;
    font-size: 1.1em!important;
    text-shadow: -2px 2px 2px #050505;
    -moz-text-shadow: -2px 2px 2px #050505;
    -webkit-text-shadow: -2px 2px 2px #050505;
filter: dropshadow(color=#050505, offx=-2, offy=2);
  }
  p {
    font-size: 1em!important;
    padding-right: 140px;
    text-shadow: -2px 2px 2px #050505;
    -moz-text-shadow: -2px 2px 2px #050505;
    -webkit-text-shadow: -2px 2px 2px #050505;
filter: dropshadow(color=#050505, offx=-2, offy=2);

  }
}




.home {
  #content {
    .entry-content {
      font-size: 0.9em;
      p {
        padding: 0;
        text-shadow: -2px 2px 2px #050505;
    -moz-text-shadow: -2px 2px 2px #050505;
    -webkit-text-shadow: -2px 2px 2px #050505;
filter: dropshadow(color=#050505, offx=-2, offy=2);
      }
      .section_select_nav{
         ul {
           margin: 0;
           padding: 0 0 0 40px !important;
           margin-top: 20px;
           li {
             .developer_btn {background: transparent url('../../images/developer_btn_xsmall.gif')  0 0 no-repeat!important;}
             .contractor_btn {background: transparent url('../../images/contractor_btn_xsmall.gif')  0 0 no-repeat!important; margin: 0 5px;}
             .refurbisher_btn {background: transparent url('../../images/refurbisher_btn_xsmall.gif')  0 0 no-repeat!important; }
             
             .developer_btn:hover {background-position: 0 -61px!important;}
             .contractor_btn:hover {background-position: 0 -61px!important;}
             .refurbisher_btn:hover {background-position: 0 -61px!important; }
             a {
               height: 60px!important;
               width: 60px!important;
               float: left;
             }
            }
        }
      }
    }
  }
} 

.news_ticker {
  margin-top: 20px;
}
.large_banner_txt {
  position: relative!important;
  width:94.7%!important;
  top: 0!important;
  left: 0!important;
}

.section_select_buttons {
   left: 0!important;
  }

 /* map rules */
.map_key {width: 99%!important; bottom: 30px!important; margin: 2px!important; padding:17px 0 0 0!important; height: 30px!important;}
.map_key ul {margin: 0!important; padding: 1px!important; font-size: 10px!important;}
.map_key li {margin: 0!important; padding: 1px!important; font-size: 10px!important;}
/* Grid systems */
.projects_cluster {
    .projects_cluster_large {
      width:100%; 
    }
    .projects_cluster_small {
      width:100%; 
    }
}

.section_select_buttons {
  position: relative;
  top: 10px;
  left: 10px;
  text-align: right;
}



.search_content {
  p {
    margin-right: 10px;
  }
}
  .breadcrumb {
    display: none;
  }
  .selection_menu {
    display: none;
    width: 100%;
      a {
        display: block;
        text-align: left;
        border-bottom: 1px solid #ccc;
        padding: 5px 20px 5px 20px;
      }
      .options_divider { 
        display: none;
      }
  }
  .userOptions {
       display: none;
  }
  .site_logo {
    height: 55px;
    top: 0;
    width: 100%;
    text-align: center;
  img {
    width: 150px;
    height: 45px;
    }
  }
  
  .site_search {
    /*top: -22px;*/
    padding:50px 0 10px 0 !important;
    .btn-info {
        width: 93%;
        margin-top: 15px;
    }
    .input-append{
      width: 100%;
    }
    #appendedInputButton{
      width: 90%;
    }
  }
  .navbar-inner {
    margin-top: 20px;
  }
    
  .navbar .nav > li > a, .dropdown-submenu > a{
    border-left: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
    
  }
  .social_button_wrapper {
    top: 150px !important;
  }
  .dropdown-menu {
  margin: 0!important;
  border: none;
  -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
  }
  
  .menu-item-home > a {
  padding: 1px 15px 1px 15px!important;
  }
  
  .footer_thumbnail {
    img {
      width: @footer_thumbnail_width;
      height: @footer_thumbnail_height;
    }
  }
  .footer_thumbnail_images {
    a {padding: 0 0 0 6px;}
  }
  .site-footer {
    font-size: 10px;
  }
  
  .footer_thumbnail_images {
    top: 10px!important;
  }
  
  .footer_thumbnail img {
    width: 60px!important;
    height: 30px!important;
  }

  .entry-thumbnail {
    height: 200px;
  }
  #projectTabs {
    li { font-size: 11px; padding: 0; }
  }
}
/* Smartphones (portrait) ----------- Start */
/* //////////////////////////////////////////////////////////////// */
@media screen and (max-width: @mobile_screen_landscape) { /*500*/
 /* hawks working here*/
.project_tagged_clusters {
  .span12 {
    .thumbnails {
      .span5 { 
        min-height: 10px!important;
      } 
    } 
  } 
  .span7 {
    p {
      padding-right: 10px !important;
    }
  } 
}

.home {
  #content {
    .entry-content {
      font-size: 0.9em;
      .section_select_nav{
         ul {
           margin: 0;
           padding: 0 0 0 40px !important;
           margin-top: 20px;
           li {
             .developer_btn {background: transparent url('../../images/developer_btn_small.gif')  0 0 no-repeat;}
             .contractor_btn {background: transparent url('../../images/contractor_btn_small.gif')  0 0 no-repeat; margin: 0 5px;}
             .refurbisher_btn {background: transparent url('../../images/refurbisher_btn_small.gif')  0 0 no-repeat; }
             
             .developer_btn:hover {background-position: 0 -102px;}
             .contractor_btn:hover {background-position: 0 -102px;}
             .refurbisher_btn:hover {background-position: 0 -102px; }
          
             a {
               height: 98px;
               width: 110px;
               float: left;
              /*background-size: 200px 119px!important;*/
             }
            }
        }
      }
    }
  }
} 

.news_ticker {
  margin-top: 20px;
}
.large_banner_txt {
  position: relative!important;
  width:94.7%!important;
  top: 0!important;
  left: 0!important;
}

.section_select_buttons {
   left: 0!important;
  }

 /* map rules */
.map_key {width: 99%!important; bottom: 30px!important; margin: 2px!important; padding:17px 0 0 0!important; height: 30px!important;}
.map_key ul {margin: 0!important; padding: 1px!important; font-size: 10px!important;}
.map_key li {margin: 0!important; padding: 1px!important; font-size: 10px!important;}
/* Grid systems */
.projects_cluster {
    .projects_cluster_large {
      width:100%; 
    }
    .projects_cluster_small {
      width:100%; 
    }
}

.section_select_buttons {
  position: relative;
  top: 10px;
  left: 10px;
  text-align: right;
}



.search_content {
  p {
    margin-right: 10px;
  }
}
  .breadcrumb {
    display: none;
  }
  .selection_menu {
    width: 100%;
      a {
        display: block;
        text-align: left;
        border-bottom: 1px solid #ccc;
        padding: 5px 20px 5px 20px;
      }
      .options_divider { 
        display: none;
      }
  }
  .userOptions button {
       /* width: 100%;*/
  }
  .site_logo {
    height: 55px;
    top: 10px;
    width: 100%;
    text-align: center;
  img {
    width: 150px;
    height: 45px;
    }
  }
  
  .site_search {
    /*top: -22px;*/
    padding:30px 0 10px 0;
    .btn-info {
        width: 93%;
        margin-top: 15px;
    }
    .input-append{
      width: 100%;
    }
    #appendedInputButton{
      width: 90%;
    }
  }
  .navbar-inner {
    margin-top: 20px;
  }
    
  .navbar .nav > li > a, .dropdown-submenu > a{
    border-left: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
    
  }
  
  .dropdown-menu {
  margin: 0!important;
  border: none;
  -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
  }
  
  .menu-item-home > a {
  padding: 1px 15px 1px 15px!important;
  }
  
  .footer_thumbnail {
    img {
      width: @footer_thumbnail_width;
      height: @footer_thumbnail_height;
    }
  }
  .footer_thumbnail_images {
    a {padding: 0 0 0 6px;}
  }
  .site-footer {
    font-size: 10px;
  }
  
  .footer_thumbnail_images {
    top: 10px!important;
  }
  
  .footer_thumbnail img {
    width: 60px!important;
    height: 30px!important;
  }

  .entry-thumbnail {
    height: 200px;
  }
  #projectTabs {
    li { font-size: 11px; padding: 0; }
  }
}