.navbar-inner {
 background: white!important;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)!important;   
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)"!important;
}

.page-title {
  letter-spacing: 10px!important;
}

.widget-download a {
  font-size: 11px;
}
.label-right {
position: relative;
background: red!important;
width: 100%
}
.ie_news_image {
  width: 200px!important;
  height: 130px!important;
}
.label-right .control-label {
  float: none!important;
  position: absolute;
  top: -4px;
  left: 50px;
  display: block!important;
  width: auto!important;
  font-size: 12px;
}

.label-right input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px!important;
  float: none;
}
.site-main {
  width: 940px;
}
.home .site-main {
  background:none;
-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#46000000,endColorstr=#46000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#46000000,endColorstr=#46000000);
zoom: 1;
  color: white;
}

.developer_btn {background: transparent url('../../images/hp_section_btn_sprite2.gif')  0 0 no-repeat!important;}
.contractor_btn {background: transparent url('../../images/hp_section_btn_sprite2.gif')  -205px 0 no-repeat!important; margin: 0 10px!important;}
.refurbisher_btn {background: transparent url('../../images/hp_section_btn_sprite2.gif')  -410px 0 no-repeat!important; }

.developer_btn:hover {background: transparent url('../../images/hp_section_btn_sprite2.gif')  0 -193px no-repeat!important;}
.contractor_btn:hover {background: transparent url('../../images/hp_section_btn_sprite2.gif')  -205px -193px no-repeat!important; margin: 0 10px!important;}
.refurbisher_btn:hover {background: transparent url('../../images/hp_section_btn_sprite2.gif')  -410px -193px no-repeat!important; }

.section_select_nav ul li a {
  height: 189px!important;
  width: 190px!important;
}

.section_select_nav ul {
  margin: 0 auto;
}
.section_select_nav ul li {
  margin-left: 60px;
}
.large_banner_txt {
  line-height: 1.2em;
  font-size: 1.37em;
  _height: 128px!important;
  min-height: 128px!important;
  max-height: 128px!important;
}

.large_banner_txt p {
  filter: dropshadow(color=#050505, offx=-1, offy=1)!important;
}

.project_tagged_clusters .span12 .thumbnails .span7 {
  min-height: 228px;
  max-height: 228px;
  _height: 228px;
}

.searchform input {
  font-size: 12px;
}

