.home .site-main {
  background:none;
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#46000000,endColorstr=#46000000);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#46000000,endColorstr=#46000000);
  zoom: 1;
  color: white;
}
.navbar-inner {
 background: white!important;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)!important;   
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)"!important;
}

.section_select_buttons {
  position: absolute;
  top: 60px!important;
  right: 0!important;
  width: 518px;
}

.section_select_buttons ul {
 margin-left: 200px;
}

.large_banner_txt {
  line-height: 1.2em;
  font-size: 1.37em;
  _height: 128px!important;
  min-height: 128px!important;
  max-height: 128px!important;
}
.ie_news_image {
  width: 200px!important;
  height: 130px!important;
}
.project_tagged_clusters .span12 .thumbnails .span7 {

min-height: 228px;
max-height: 228px;
_height: 228px;

}
.section_select_nav ul {
  margin: 0 auto;
}



.label-right {
position: relative;
background: red!important;
width: 100%
}

.label-right .control-label {
  float: none!important;
  position: absolute;
  top: -4px;
  left: 50px;
  display: block!important;
  width: auto!important;
  font-size: 12px;
}

.label-right input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px!important;
  float: none;
}