/* Overlay */
/*  Bootstrap Overides Stylesheet
    Last Updated: 2013-06-20
    Author: Lawrence Hawker - www.geansai.co.uk/
*/
.banner_alt {
  position: absolute;
  background: #2F2F2F;
  color: #ffffff;
  bottom: 0;
  padding: 2px 20px;
  display: inline-block;
  top: 350px;
  height: 14px;
}
#basic-modal-content {
  display: none;
}
.popcontent {
  position: relative;
  height: 600px;
  overflow: hidden;
}
.popcontent p {
  position: absolute;
  bottom: 0px;
  z-index: 50000;
  display: block;
  text-align: center;
  background: #ffffff;
  width: 100%;
  padding: 20px 0;
}
.popcontent p a {
  padding: 10px;
  color: #000000;
  cursor: pointer;
}
/* Overlay */
#simplemodal-overlay {
  background-color: #000;
}
/* Container */
#simplemodal-container {
  height: 600px;
  width: 800px;
  color: #bbb;
  background-color: #333;
  border: 4px solid #444;
  padding: 0;
  overflow: hidden;
}
#simplemodal-container a.modalCloseImg {
  background: url(../img/basic/x.png) no-repeat;
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 444444200;
  position: absolute;
  top: -15px;
  right: -16px;
  cursor: pointer;
}
/* setup global variables for button colors */
.slideshowlink {
  display: none!important;
}
@media print {
  .site-header {
    height: 150px;
  }
  footer .footer_thumbnail_images {
    width: 500px!important;
    position: relative!important;
    display: inline-block !important;
    float: right;
  }
  .print_random_news {
    display: block!important;
    float: none!important;
    width: 99%!important;
    margin-bottom: 300px!important;
  }
  .print_random_news .sub_heading a {
    color: #333333!important;
  }
  .header-area {
    border: none!important;
  }
  .print_random_news .landing_page_news_img {
    float: left!important;
    margin-right: 20px!important;
    width: 200px!important;
    height: 200px!important;
  }
  p,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  .site-info,
  input,
  textarea {
    color: black!important;
  }
  a:after {
    content: " " !important;
  }
  body,
  .site-content,
  .projects_cluster_small_content,
  .projects_cluster_large_content {
    background: #ffffff!important;
  }
  .backstretch,
  .userOptions,
  .social_button_wrapper,
  .navbar,
  .section_select_buttons,
  .section_select_buttons ul,
  .site_search,
  .breadcrumb,
  .footer_nav_area,
  .section_select_nav,
  .print_video,
  .nav-pills,
  .btn-info {
    display: none!important;
  }
  div[rel=cookie_agree_box] {
    display: none!important;
  }
  .footer-area {
    background: #ffffff!important;
    border-top: 1px solid #999999;
  }
}
.print_random_news .sub_heading a {
  color: #333333!important;
}
.print_random_news .btn-info {
  background-color: #818181 !important;
  background-image: -moz-linear-gradient(top, #dedede, #818181) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#818181)) !important;
  background-image: -webkit-linear-gradient(top, #dedede, #818181) !important;
  background-image: -o-linear-gradient(top, #dedede, #818181) !important;
  background-image: linear-gradient(to bottom, #dedede, #818181) !important;
  background-repeat: repeat-x;
}
.print_random_news .btn-info .active {
  background: #818181!important;
}
@media screen and (max-width: 1024px) {
  /*800*/
  .large_banner_txt {
    left: 4%!important;
  }
}
/* Media queries sizes.*/
/* UI Bars and Buttons */
#back-top {
  position: fixed;
  bottom: 110px;
  right: 30px;
  z-index: 300;
}
#back-top a {
  width: 108px;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #999;
  /* transition */

  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  color: #000;
}
#back-top a:hover span {
  background-color: #999;
}
#back-top span {
  width: 40px;
  height: 40px;
  display: block;
  margin-bottom: 7px;
  margin: 0 auto 6px auto;
  background: #dddddd url(up-arrow.png) no-repeat center center;
  /* rounded corners */

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  /* transition */

  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top span strong {
  padding-top: 14px;
  display: block;
}
/* back to top button */
.mapp-links {
  display: none!important;
}
.media-list .children {
  padding-left: 20px;
  padding-top: 10px;
  background: #fbfbfb;
}
.media-list .pull-left {
  padding-right: 20px;
  clear: left;
}
.media-list .depth-1 {
  margin-bottom: 10px;
  background: #f2f2f2;
  padding: 10px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.media-list .reply {
  margin: 5px 0 10px 0;
}
.alert-info {
  background: #f2f2f2;
}
hr {
  float: none;
  clear: both;
}
.alignleft,
.alignright {
  margin-bottom: 10px;
}
div[rel="cookie_agree_box"] {
  color: #ffffff;
}
.row-fluid {
  background: #005d85;
  margin: 0;
  padding: 0;
  /*font-size: @seconder_font_size;*/

}
.row-fluid p {
  padding: 6px 0;
}
.site-main {
  background: #ffffff;
  max-width: 960px;
}
#page {
  max-width: 960px!important;
}
#content {
  color: #333333;
  padding: 20px 20px 30px 20px;
  line-height: 22px;
}
#content .edit-link {
  display: block;
  text-align: right;
  padding-right: 20px;
}
#content .row-fluid {
  background: transparent;
}
.entry-content ul {
  margin-left: 15px;
}
.userOptions button {
  background: #e61d34;
  color: #ffffff;
  text-shadow: none;
  border: 1px solid #e61d34;
  padding: 5px;
  display: none !important;
}
.userOptions button:hover {
  background: #d31b30;
  color: #ffffff;
  border: 1px solid #e61d34;
}
.userOptions .selection_menu {
  background: #e61d34;
}
.userOptions .selection_menu a {
  color: #ffffff;
  /*font-size: @seconder_font_size!important;*/

  font-size: 11px;
}
.navbar {
  margin-bottom: 0;
}
.navbar .dropdown-submenu > a::after {
  display: none;
}
#menu-item-647 a {
  border-left: none;
}
/* sidebar navigation */
.advanced-sidebar-menu {
  padding: 6px 0;
}
.advanced-sidebar-menu li .children {
  margin-left: 10px;
}
.advanced-sidebar-menu .children li:before {
  content: ' » ';
}
/* Override the dropdown menu button within the main navigation STRAT */.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 12px 0 14px 12px;
}
.breadcrumb li a {
  font-weight: bold;
  color: #000000;
}
.dropdown-menu .active {
  background: none;
}
.nav > .dropdown-submenu > .dropdown-menu {
  top: 25px;
  left: -10px;
  border-radius: 6px 0px 6px 6px;
  background-image: none!important;
  border-bottom: 2px solid #96bf3d;
}
.dropdown-menu a,
.dropdown-menu a:hover,
.dropdown-menu a:focus {
  border-bottom: none!important;
}
.screen-reader-text {
  display: none;
}
.navbar-inner {
  min-height: 30px;
  padding-right: 0;
  padding-left: 0;
  margin-top: 38px;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: none;
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='whiteff', endColorstr='#FFF2F2f2', GradientType=0);*/

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .nav > li > a {
  border-left: 1px solid #000000;
  color: #000000;
  padding: 1px 15px 1px;
}
.menu-item-home > a {
  border: none!important;
  padding: 1px 15px 1px 0!important;
}
.current_page_item a,
.current-page-parent a,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  border-bottom: 2px solid #96bf3d;
}
/* Override the dropdown menu button within the main navigation END *//* Document body style rules START */
body {
  background: #e6e6e6;
}
h1 {
  margin: 2px 0 10px 0;
}
h2 {
  font-size: 1.6em;
  margin-bottom: 10px;
  line-height: 1.2em;
}
h3 {
  font-size: 1.3em;
  line-height: 1em;
}
h4,
h5,
h6 {
  font-size: 1em;
  line-height: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.sub_heading {
  font-size: 1.2em;
}
/* google map rules */
.map_sprite_icons {
  width: 23px;
  height: 31px;
  display: block;
  float: left;
  margin-right: 3px;
  margin-top: -3px;
}
.map_area {
  position: relative;
  top: 0;
  left: 0;
}
.map_area .map_key {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 60%;
  height: 70px;
  z-index: 200;
  background: #ffffff;
}
.map_area .map_key ul {
  list-style: none;
  margin: 20px 20px 0 20px;
}
.map_area .map_key ul li {
  display: inline-block;
}
.map_area .map_key ul .developments_map_icon {
  padding: 10px 0 10px 20px;
}
.map_area .map_key ul .developments_map_icon span {
  width: 23px;
  height: 31px;
  display: block;
  float: left;
  margin-right: 3px;
  margin-top: -3px;
  background: transparent url('../../images/icon_sprites.gif') 1px -24px no-repeat;
}
.map_area .map_key ul .refurbishment_map_icon {
  padding: 10px 0 10px 20px;
}
.map_area .map_key ul .refurbishment_map_icon span {
  width: 23px;
  height: 31px;
  display: block;
  float: left;
  margin-right: 3px;
  margin-top: -3px;
  background: transparent url('../../images/icon_sprites.gif') -32px -24px no-repeat;
}
.map_area .map_key ul .contractor_map_icon {
  padding: 10px 0 10px 20px;
}
.map_area .map_key ul .contractor_map_icon span {
  width: 23px;
  height: 31px;
  display: block;
  float: left;
  margin-right: 3px;
  margin-top: -3px;
  background: transparent url('../../images/icon_sprites.gif') -61px -24px no-repeat;
}
/* Grid systems */
.project_filter_nav {
  text-align: right;
  margin: 0 0 10px 0;
}
.project_filter_nav a {
  text-align: left;
}
.project_tagged_clusters .carousel {
  margin-bottom: 0!important;
}
.project_tagged_clusters .span12 {
  min-height: 210px;
  max-height: 210px;
  _height: 210px;
}
.project_tagged_clusters .span12 .thumbnails .span5 {
  margin: 0;
  padding: 0;
  max-height: 210px;
  min-height: 210px;
  _height: 210px;
  overflow: hidden;
  max-width: 328px;
}
.project_tagged_clusters .span12 .thumbnails .span7 {
  background: #2f2f2f;
  padding: 10px;
  color: #ffffff;
  min-height: 246px;
  max-height: 246px;
  height: 1%;
  _height: 246px;
  margin: 0;
  display: inline-block;
  max-width: 600px;
}
.project_tagged_clusters .span12 .thumbnails .span7 p {
  padding: 6px 5px 6px 0;
  width: 400px;
}
.featured_image .projects_cluster_large_img {
  display: block;
  width: 100%;
  /*overflow: hidden;
    height: 380px;
    margin-bottom: 6px;*/

}
.featured_image .projects_cluster_large_img img {
  width: 100%;
  -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
}
.featured_image .projects_cluster_large_img .mapp-layout {
  -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
}
.projects_cluster {
  line-height: 17px;
  font-size: 12px;
}
.projects_cluster .projects_cluster_large {
  color: #ffffff;
  background: #2f2f2f;
  width: 50%;
  float: left;
  height: 350px;
  margin: 0;
  position: relative;
}
.projects_cluster .projects_cluster_large .projects_cluster_large_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 350px;
  overflow: hidden;
  z-index: 20;
}
.projects_cluster .projects_cluster_large .projects_cluster_large_img img {
  width: 100%;
  height: 100%;
}
.projects_cluster .projects_cluster_large .projects_cluster_large_content {
  background: #e61d34;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 25;
  width: 90%;
}
.projects_cluster .projects_cluster_large .projects_cluster_large_content p {
  padding: 2px 43px 2px 5px;
}
.projects_cluster .projects_cluster_large .projects_cluster_large_content header h2 {
  padding: 2px 5px 0 5px;
  margin: 0;
  color: #000000;
  line-height: 20px;
}
.projects_cluster .projects_cluster_large .projects_cluster_large_content a {
  color: #ffffff;
}
.projects_cluster .projects_cluster_small {
  color: #ffffff;
  width: 25%;
  float: left;
  height: 175px;
  margin: 0;
  position: relative;
}
.projects_cluster .projects_cluster_small .projects_cluster_small_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 175px;
  overflow: hidden;
  z-index: 26;
}
.projects_cluster .projects_cluster_small .projects_cluster_small_img img {
  width: 100%;
}
.projects_cluster .projects_cluster_small .projects_cluster_small_content {
  background: #2f2f2f;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 27;
  width: 100%;
}
.projects_cluster .projects_cluster_small .projects_cluster_small_content p {
  padding: 2px 43px 2px 5px;
}
.projects_cluster .projects_cluster_small .projects_cluster_small_content header h2 {
  padding: 5px 5px 0 5px;
  margin: 0;
  line-height: 20px;
}
/* Header rules start */
.header-area {
  margin: 0;
  padding: 0;
  background: #ffffff;
  border-top: 3px solid #e83135;
  border-bottom: 3px solid #e83135;
}
.contractor_selector {
  border-color: #9c5fb5;
}
.contractor_selector .userOptions button {
  background: #9c5fb5;
  border-color: #9c5fb5;
}
.contractor_selector .userOptions .selection_menu {
  background: #9c5fb5;
}
.refurbisher_selector {
  border-color: #00acbc;
}
.refurbisher_selector .userOptions button {
  background: #00acbc;
  border-color: #00acbc;
}
.refurbisher_selector .userOptions .selection_menu {
  background: #00acbc;
}
.projects_navigation {
  padding: 1px 10px 10px 10px;
  /*border-bottom: 2px solid #A7A7A7;*/

  margin-bottom: 6px;
}
.projects_navigation li {
  margin-right: 10px;
}
.projects_navigation li span {
  display: inline-block;
  padding-top: 6px;
  padding-right: 5px;
}
.projects_navigation li input {
  margin-right: 12px;
  margin-top: -5px;
}
.projects_navigation .nav {
  margin-bottom: 0;
}
.page-template-projects-landing-page-php article .entry-content,
.page article .entry-content {
  width: 90%;
  /*text-align:justify;
      text-justify:inter-word;*/

}
article h2 {
  font-size: 1.4em;
  margin-top: 15px;
}
article h3 {
  font-size: 1.2em;
  margin-top: 14px;
}
article h4 {
  font-size: 1.1em;
  margin-top: 12px;
}
article ul {
  margin-left: 30px;
  margin-bottom: 7px;
  margin-top: 7px;
}
.single #content article {
  width: 90%;
}
.page-template-projects-landing-page-php .header-area,
.page-template-default .header-area,
.page-template-contact-page-php .header-area,
.page-template-news-landing-page-php .header-area,
.single-post .header-area {
  border-color: #004a86;
}
.page-template-projects-landing-page-php .header-area .userOptions button,
.page-template-default .header-area .userOptions button,
.page-template-contact-page-php .header-area .userOptions button,
.page-template-news-landing-page-php .header-area .userOptions button,
.single-post .header-area .userOptions button {
  background: #004a86;
  border-color: #004a86;
}
.page-template-projects-landing-page-php .header-area .userOptions .selection_menu,
.page-template-default .header-area .userOptions .selection_menu,
.page-template-contact-page-php .header-area .userOptions .selection_menu,
.page-template-news-landing-page-php .header-area .userOptions .selection_menu,
.single-post .header-area .userOptions .selection_menu {
  background: #004a86;
}
.social_button_wrapper {
  text-align: right;
  float: right;
}
.featured_image .social_button_wrapper {
  padding: 10px 0 0 0;
}
.sm .social_button_wrapper {
  padding: 10px 0 0 0;
}
.page-template-homepage-php .social_button_wrapper {
  position: absolute;
  width: 121px;
  height: 25px;
  top: 100px;
  right: 4px;
}
/* projectTabs rules */
.projectTabs_developer_selector {
  border-color: transparent;
}
.projectTabs_developer_selector .active a:hover {
  background: #ffffff;
  color: #08C;
  text-decoration: underline;
}
.projectTabs_developer_selector .active a {
  background: #ffffff;
  color: #08C;
  padding-left: 0;
  text-decoration: underline;
}
.developer_selector_text {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#9FFF0000', endColorstr='#9FFF0000') !important;
  /* IE */

  background-color: rgba(255, 0, 0, 0.8) !important;
}
.developer_selector .sub_heading {
  color: #e83135 !important;
  font-weight: bold;
  font-size: 20px;
}
.developer_selector #projectIntro h2 {
  color: #e83135 !important;
  font-weight: bold;
  font-size: 25px;
}
.projectTabs_developertab_selector {
  background: #e83135 !important;
  background-image: none!important;
}
.projectTabs_developertab_selector span {
  display: none!important;
}
.contractor_selector_text {
  background-color: rgba(156, 95, 181, 0.8) !important;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#9F9C5FB5', endColorstr='#9F9C5FB5') !important;
  /* IE */

}
.contractor_selector .sub_heading {
  color: #9c5fb5 !important;
  font-weight: bold;
  font-size: 20px;
}
.contractor_selector #projectIntro h2 {
  color: #9c5fb5 !important;
  font-weight: bold;
  font-size: 25px;
}
.projectTabs_contractor_selector {
  border-color: transparent;
}
.projectTabs_contractor_selector .active a:hover {
  background: #ffffff;
  color: #08C;
  text-decoration: underline;
}
.projectTabs_contractor_selector .active a {
  background: #ffffff;
  color: #08C;
  padding-left: 0;
  text-decoration: underline;
}
.dropdown-menu .active a {
  background: none!important;
  color: #333333!important;
}
.projectTabs_contractortab_selector {
  background: #9c5fb5 !important;
  background-image: none!important;
  border-color: transparent;
}
.projectTabs_contractortab_selector span {
  display: none!important;
}
.projectTabs_refurbishertab_selector {
  background: #00acbc !important;
  background-image: none!important;
  border-color: transparent;
}
.projectTabs_refurbishertab_selector span {
  display: none!important;
}
.refurbisher_selector_text {
  background-color: rgba(0, 172, 188, 0.8) !important;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#9F00ACBC', endColorstr='#9F00ACBC') !important;
  /* IE */

}
.refurbisher_selector .sub_heading {
  color: #00acbc !important;
  font-weight: bold;
  font-size: 20px;
}
.refurbisher_selector #projectIntro h2 {
  color: #00acbc !important;
  font-weight: bold;
  font-size: 25px;
}
.projectTabs_refurbisher_selector .active a:hover {
  background: #ffffff;
  color: #08C;
  text-decoration: underline;
}
.projectTabs_refurbisher_selector .active a {
  background: #ffffff;
  color: #08C;
  padding-left: 0;
  text-decoration: underline;
}
.site-header {
  position: relative;
  background: #ffffff;
}
.section_select_buttons {
  position: absolute;
  top: 70px;
  right: 0;
  width: 318px;
  text-align: right;
  height: 100px;
}
.section_select_buttons ul {
  list-style: none;
}
.section_select_buttons ul .developer_button a {
  background: transparent url('../../images/section_select_button_sprite.gif') 0 0 no-repeat;
}
.section_select_buttons ul .contractor_button a {
  background: transparent url('../../images/section_select_button_sprite.gif') -107px 0 no-repeat;
}
.section_select_buttons ul .refurbisher_button a {
  background: transparent url('../../images/section_select_button_sprite.gif') -214px 0 no-repeat;
}
.section_select_buttons ul .developer_button a:hover {
  background: transparent url('../../images/section_select_button_sprite.gif') 0 -119px no-repeat;
}
.section_select_buttons ul .contractor_button a:hover {
  background: transparent url('../../images/section_select_button_sprite.gif') -107px -119px no-repeat;
}
.section_select_buttons ul .refurbisher_button a:hover {
  background: transparent url('../../images/section_select_button_sprite.gif') -214px -119px no-repeat;
}
.section_select_buttons li {
  display: inline;
}
.section_select_buttons a {
  height: 100px;
  width: 106px;
  display: block;
  float: left;
  text-align: center;
  cursor: pointer;
  text-indent: -9999px;
}
.Developer .developer_button a {
  background: transparent url('../../images/section_select_button_sprite.gif') 0 -119px no-repeat !important;
}
.Refurbisher .refurbisher_button a {
  background: transparent url('../../images/section_select_button_sprite.gif') -214px -119px no-repeat !important;
}
.Contractor .contractor_button a {
  background: transparent url('../../images/section_select_button_sprite.gif') -107px -119px no-repeat !important;
}
/* Projects content page start */
#refurbishment_section .projects_cluster_large_img {
  display: block;
  width: 100%;
}
#refurbishment_section .projects_cluster_large_img img {
  width: 100%;
  -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
}
#refurbishment_section .project_attachments {
  border-color: #00acbc;
}
#refurbishment_section .entry-header h2 {
  color: #00acbc;
}
#refurbishment_section .entry-header .entry-title {
  color: #a7a7a7;
  border-bottom: 2px solid #00acbc;
  margin-bottom: 12px;
}
#refurbishment_section #gallery {
  border-top: 2px solid #00acbc;
  padding-top: 12px;
}
#refurbishment_section #gallery h2 {
  color: #00acbc;
}
#refurbishment_section .map_area {
  margin-top: 12px;
}
#refurbishment_section .header-area {
  border-color: #00acbc;
}
#refurbishment_section .header-area .section_select_buttons ul .refurbisher_button a {
  background: transparent url('../../images/section_select_button_sprite.gif') -214px -119px no-repeat !important;
}
#refurbishment_section .header-area .userOptions button {
  background: #00acbc;
  border-color: #00acbc;
}
#refurbishment_section .header-area .userOptions .selection_menu {
  background: #00acbc;
}
.page-template-default .entry-header h2,
.page-template-contact-page-php .entry-header h2,
.page-template-projects-landing-page-php .entry-header h2,
.page-template-news-landing-page-php .entry-header h2,
.single-post .entry-header h2,
.single .entry-header h2 {
  color: #e83135;
}
.page-template-default .entry-header .entry-title,
.page-template-contact-page-php .entry-header .entry-title,
.page-template-projects-landing-page-php .entry-header .entry-title,
.page-template-news-landing-page-php .entry-header .entry-title,
.single-post .entry-header .entry-title,
.single .entry-header .entry-title {
  color: #a7a7a7;
  border-bottom: 2px solid #a7a7a7;
  margin-bottom: 12px;
  margin-top: 6px;
}
#developer_section .projects_cluster_large_img {
  display: block;
  width: 100%;
}
#developer_section .projects_cluster_large_img img {
  width: 100%;
  -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
}
#developer_section .project_attachments {
  border-color: #e83135;
}
#developer_section .entry-header h2 {
  color: #e83135;
}
#developer_section .entry-header .entry-title {
  color: #a7a7a7;
  border-bottom: 2px solid #e83135;
  margin-bottom: 12px;
}
#developer_section #gallery {
  border-top: 2px solid #e83135;
  padding-top: 12px;
}
#developer_section #gallery h2 {
  color: #e83135;
}
#developer_section .map_area {
  margin-top: 12px;
}
#developer_section .header-area {
  border-color: #e83135;
}
#developer_section .header-area .section_select_buttons ul .developer_button a {
  background: transparent url('../../images/section_select_button_sprite.gif') 0 -119px no-repeat !important;
}
#developer_section .header-area .userOptions button {
  background: #e83135;
  border-color: #e83135;
}
#developer_section .header-area .userOptions .selection_menu {
  background: #e83135;
}
.section_header_developer {
  margin-top: 1px;
  color: #e83135;
}
.section_header_developer span {
  background: transparent url('../../images/icon_sprites.gif') 1px -24px no-repeat;
  width: 23px;
  height: 31px;
  display: block;
  float: left;
  margin-right: 3px;
  margin-top: -3px;
  margin-top: 0;
}
.section_header_contractor {
  margin-top: 1px;
  color: #9c5fb5;
}
.section_header_contractor span {
  background: transparent url('../../images/icon_sprites.gif') -60px -24px no-repeat;
  width: 23px;
  height: 31px;
  display: block;
  float: left;
  margin-right: 3px;
  margin-top: -3px;
  margin-top: 0;
}
.section_header_refurbishment {
  margin-top: 1px;
  color: #00acbc;
}
.section_header_refurbishment span {
  background: transparent url('../../images/icon_sprites.gif') -30px -24px no-repeat;
  width: 23px;
  height: 31px;
  display: block;
  float: left;
  margin-right: 3px;
  margin-top: -3px;
  margin-top: 0;
}
#contractor_section .projects_cluster_large_img {
  display: block;
  width: 100%;
}
#contractor_section .projects_cluster_large_img img {
  width: 100%;
  -webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.75);
}
#contractor_section .project_attachments {
  border-color: #9c5fb5;
}
#contractor_section .entry-header h2 {
  color: #9c5fb5;
}
#contractor_section .entry-header .entry-title {
  color: #a7a7a7;
  border-bottom: 2px solid #9c5fb5;
  margin-bottom: 12px;
}
#contractor_section #gallery {
  border-top: 2px solid #9c5fb5;
  padding-top: 12px;
}
#contractor_section #gallery h2 {
  color: #9c5fb5;
}
#contractor_section .map_area {
  margin-top: 12px;
}
#contractor_section .header-area {
  border-color: #9c5fb5;
}
#contractor_section .header-area .section_select_buttons ul .contractor_button a {
  background: transparent url('../../images/section_select_button_sprite.gif') -107px -119px no-repeat !important;
}
#contractor_section .header-area .userOptions button {
  background: #9c5fb5;
  border-color: #9c5fb5;
}
#contractor_section .header-area .userOptions .selection_menu {
  background: #9c5fb5;
}
/* Projects content page end */
.site_logo {
  position: absolute;
  width: 191px;
  height: 65px;
  top: 10px;
  left: 0;
  z-index: 200;
}
.site_logo img {
  border: none;
  width: 191px;
  height: 65px;
}
/*serchbox rules */
.site_search {
  clear: both;
  position: relative;
  top: 25px;
  padding: 2px 0 10px 0;
  text-align: right;
}
.site_search input {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.site_search .btn-info {
  padding: 2px 5px;
  background-color: #ea6123;
  background-image: -webkit-linear-gradient(#ea6123, #ea6123, #ea6123);
  background-image: -o-linear-gradient(top, #ea6123, #ea6123);
  background-image: linear-gradient(to bottom, #ea6123, #ea6123);
  background-repeat: repeat-x;
  border-color: #ea6123 #ea6123 #ea6123;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 11px;
}
.site_search #searchsubmit {
  color: #fff;
  background: transparent url('../../images/icon_sprites.gif') 10px 1px no-repeat;
  text-decoration: none;
  text-shadow: none;
  padding: 0 5px;
  border: none;
}
.site_search #searchsubmit span {
  overflow: hidden;
  text-indent: 135px;
  width: 25px;
  height: 20px;
  display: block;
  background: transparent;
}
/* form overides */
.form-horizontal .control-label {
  margin-right: 20px;
  width: 100%;
  float: none;
  text-align: left;
}
.contact-download-pod {
  background: #004a86;
  color: #ffffff;
  padding: 6px 0;
}
.contact-download-pod .project_attachments {
  border: none;
}
.contact-download-pod .widget-title {
  display: none;
}
.contact-download-pod a {
  color: #ffffff;
}
.contact-download-pod .attachment_description {
  display: block!important;
  padding: 3px 10px;
  border: none!important;
  height: auto;
  overflow: auto;
}
.QapTchaWrapper {
  /*padding-left: 160px;*/

}
.list-radio-wrap {
  padding-left: 160px;
}
.searchform {
  border: 1px solid #838383;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 2px;
  margin-top: 10px;
  font-size: 100%;
}
.searchform input {
  font-size: 11px;
}
.searchform #appendedInputButton {
  padding: 0 2px;
}
.widget-download a {
  font-size: 11px;
}
/* Header rules end */
/* Content area start */
.widget_column .content_wrapper {
  border-top: 4px solid #00abbd;
  margin-top: 10px;
}
.attachment_description {
  border-bottom: 1px solid #666666;
  margin-bottom: 5px;
  line-height: 1.1em;
  padding-bottom: 7px;
}
.download_icon_span {
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-right: 3px;
}
.project_attachments {
  margin: 6px 0;
  border-bottom: 2px solid;
  border-color: #e61d34;
  padding: 10px 0 6px 0;
}
.project_attachments .attachment_description {
  display: none;
}
.project_attachments h3 {
  float: left;
  margin-right: 10px;
}
.project_attachments a {
  height: 36px;
  margin-left: 6px;
  display: inline-block;
}
.project_attachments a strong {
  vertical-align: text-top;
  margin-top: -15px;
  margin-left: 2px;
  font-weight: normal;
  display: inline-block;
}
.project_attachments .pdf span {
  background: transparent url('../../images/icon_sprites.gif') -36px -54px no-repeat;
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-right: 3px;
}
.project_attachments .plain span {
  background: transparent url('../../images/icon_sprites.gif') -101px -54px no-repeat;
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-right: 3px;
}
.project_attachments .msword span {
  background: transparent url('../../images/icon_sprites.gif') 0 -54px no-repeat;
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-right: 3px;
}
.project_attachments .zip span {
  background: transparent url('../../images/icon_sprites.gif') -134px -54px no-repeat;
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-right: 3px;
}
.project_attachments .vndms-excel span {
  background: transparent url('../../images/icon_sprites.gif') -162px -54px no-repeat;
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-right: 3px;
}
.refurbisher_download_selector {
  border-color: #00acbc;
}
.contractor_download_selector {
  border-color: #9c5fb5;
}
.content_wrapper {
  background: #ffffff;
  padding: 6px 10px;
  line-height: 1.6em;
  /*text-align:justify;
  text-justify:newspaper;
  text-align-last: justify;
  -moz-text-align-last: center;*/

}
.content_wrapper section article h2 {
  color: #01abba;
}
.content_wrapper section article header h2 {
  border-bottom: 1px solid #666666;
  margin: 5px 0 10px 0;
}
.content_wrapper section article header h2 a,
.content_wrapper section article header h2 a:hover {
  color: #666666;
}
.search_content p {
  margin-right: 70px;
  margin-bottom: 10px;
}
/* sidebar widget */
.widget-area .widget {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
}
.widget-area aside {
  clear: left;
}
.widget-area aside h3 {
  color: black;
}
.widget-area aside ul {
  list-style: none;
  margin: 0;
}
.widget-area .widget_calendar table {
  width: 100%;
}
.widget-area .widget_calendar tbody td {
  background: #E6E6E6;
  text-align: center;
  padding: 5px;
}
.widget-area .widget_calendar tbody td a {
  background: #fff;
  padding: 2px;
  text-align: center!important;
}
.widget-area .widget_calendar caption {
  margin-bottom: 20px!important;
}
[class^="icon-"],
[class*=" icon-"] {
  margin-top: 0;
  margin-right: 5px;
}
/* Latest news section rules */
.pagination {
  margin: 5px 0;
}
.pagination_clearfix {
  clear: left;
  margin: 0;
  padding: 0;
  line-height: 2px;
  border-top: 1px solid black;
}
#news .newsItems {
  clear: left;
  border-top: 1px solid #000000;
  margin: 10px 0;
  min-height: 130px;
  height: auto;
  padding: 10px 0 0 0;
}
#news .newsItems .project_attachments {
  border: none;
}
#news .newsItems p {
  width: 90%;
  /*text-align:justify;
      text-justify:inter-word;*/

}
#news .newsItems p a {
  font-weight: bold;
}
#news .newsItems .projects_cluster_large_img img {
  float: left;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-top: 10px;
}
#news .featuredNewsItem {
  font-size: 1.2em;
  line-height: 1.6em;
  color: #a7a7a7;
  margin-right: 80px;
}
#news p a {
  color: #000000;
}
#news h3 a {
  color: #004a86;
}
/* news ticker */
.news_ticker {
  margin: 40px 0 0 0;
  padding: 0;
  background: transparent url('../../images/news_ticker_icon.gif') 0 0 no-repeat;
  height: 32px;
}
.news_ticker div {
  padding: 6px 10px 0 50px;
}
/* home page rules */
.home .header-area {
  border-color: #005292;
}
.home .site-main {
  background-color: rgba(35, 31, 32, 0.8);
  color: #ffffff;
}
.home #content {
  color: #ffffff !important;
  padding: 30px 0px;
}
.home #content .entry-header {
  display: none;
}
.home #content .entry-content {
  font-size: 2.1em;
  line-height: 1.2em;
  padding: 0 50px;
  margin-top: 10px;
}
.home #content .entry-content p {
  padding: 0 50px;
  text-shadow: -2px 2px 2px #050505;
  -moz-text-shadow: -2px 2px 2px #050505;
  -webkit-text-shadow: -2px 2px 2px #050505;
  filter: dropshadow(color=#050505, offx=-2, offy=2);
}
.home #content .entry-content .section_select_nav ul {
  list-style: none;
  margin: 40px 10px 10px 0;
  padding: 0;
}
.home #content .entry-content .section_select_nav ul .developer_btn {
  background: transparent url('../../images/developer_btn_large.gif') 0 0 no-repeat;
}
.home #content .entry-content .section_select_nav ul .contractor_btn {
  background: transparent url('../../images/contractor_btn_large.gif') 0 0 no-repeat;
  margin: 0 20px;
}
.home #content .entry-content .section_select_nav ul .refurbisher_btn {
  background: transparent url('../../images/refurbisher_btn_large.gif') 0 0 no-repeat;
}
.home #content .entry-content .section_select_nav ul .developer_btn:hover {
  background-position: 0 -265px;
}
.home #content .entry-content .section_select_nav ul .contractor_btn:hover {
  background-position: 0 -265px;
}
.home #content .entry-content .section_select_nav ul .refurbisher_btn:hover {
  background-position: 0 -265px;
}
.home #content .entry-content .section_select_nav ul li {
  display: inline;
  float: left;
}
.home #content .entry-content .section_select_nav ul li a {
  height: 255px;
  display: block;
  text-indent: -99999px;
  width: 260px;
}
.home .userOptions button {
  background: #005292;
  border: 1px solid #004a83;
}
.home .userOptions button:hover {
  background: #004a83;
  border: 1px solid #004a83;
}
.home .userOptions .selection_menu {
  background: #005292;
}
.home .site-header .section_select_buttons {
  display: none;
}
.projects_back_btn {
  width: 100%;
  text-align: right;
}
.projects_back_btn a {
  margin-right: 10px;
}
#projectIntro article {
  padding-right: 80px;
}
#projectIntro article p {
  margin-bottom: 10px;
}
#active_WHISCERS article {
  padding-right: 80px;
}
#active_WHISCERS article p {
  padding-bottom: 10px;
}
.default_page .entry-content h2 {
  /* border-bottom: 1px solid #0072A4; */

  color: #0072A4;
}
.default_page .entry-content h3 {
  /* border-bottom: 1px solid #0072A4; */

  color: #0072A4;
  margin-top: 10px;
}
.default_page .entry-content h4 {
  /* border-bottom: 1px solid #0072A4; */

  color: #0072A4;
}
.single h2 {
  /* border-bottom: 1px solid #0072A4; */

  color: #0072A4;
}
.single h3 {
  /* border-bottom: 1px solid #0072A4; */

  color: #0072A4;
  margin-top: 10px;
}
.single h4 {
  /* border-bottom: 1px solid #0072A4; */

  color: #0072A4;
}
/* home page latest new rules */
.latest_news #Carousel_Latest_News {
  margin-top: 15px;
  /* need to change this for IE */

  filter: progid:dximagetransform.microsoft.gradient(GradientType=0.5, startColorstr='#4c0d0d0d', endColorstr='#4c0d0d0d') !important;
  /* IE */

  background-color: rgba(13, 13, 13, 0.7) !important;
  padding-bottom: 40px;
  margin-bottom: -31px;
}
.latest_news #Carousel_Latest_News h3 {
  margin-bottom: 10px;
  margin-top: 7px;
  font-size: 1.4em;
  text-shadow: -2px 2px 2px #050505;
  -moz-text-shadow: -2px 2px 2px #050505;
  -webkit-text-shadow: -2px 2px 2px #050505;
  filter: dropshadow(color=#050505, offx=-2, offy=2);
}
.latest_news #Carousel_Latest_News p {
  font-size: 1.1em;
  padding-right: 10px;
  text-shadow: -2px 2px 2px #050505;
  -moz-text-shadow: -2px 2px 2px #050505;
  -webkit-text-shadow: -2px 2px 2px #050505;
  filter: dropshadow(color=#050505, offx=-2, offy=2);
  font-weight: bold;
}
.latest_news #Carousel_Latest_News header {
  display: block;
  height: 34px;
  background: #828181;
  position: relative;
  margin-bottom: 20px;
}
.latest_news #Carousel_Latest_News header h2 {
  position: absolute;
  top: 5px;
  left: 45px;
}
.latest_news #Carousel_Latest_News header .left {
  color: white;
  background: #828181;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
  padding: 10px 11px;
  /*box-shadow: 3px 0px 3px rgba(76, 76, 76, 0.75);*/

  -webkit-box-shadow: 3px 0px 3px rgba(76, 76, 76, 0.75);
  -moz-box-shadow: 3px 0px 3px rgba(76, 76, 76, 0.75);
  box-shadow: 3px 0px 3px rgba(76, 76, 76, 0.75);
}
.latest_news #Carousel_Latest_News header .left:hover,
.latest_news #Carousel_Latest_News header .right:hover {
  text-decoration: none;
  color: #ccc;
}
.latest_news #Carousel_Latest_News header .right {
  color: white;
  background: #828181;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1em;
  padding: 10px 11px;
  /*box-shadow: -3px 0px 3px rgba(76, 76, 76, 0.75);*/

  -webkit-box-shadow: -3px 0px 3px rgba(76, 76, 76, 0.75);
  -moz-box-shadow: -3px 0px 3px rgba(76, 76, 76, 0.75);
  box-shadow: -3px 0px 3px rgba(76, 76, 76, 0.75);
}
/* Footer rules start */
.footer-area {
  background: #2f2f2f;
  background-image: linear-gradient(bottom, #2f2f2f 23%, #242323 61%);
  background-image: -o-linear-gradient(bottom, #2f2f2f 23%, #242323 61%);
  background-image: -moz-linear-gradient(bottom, #2f2f2f 23%, #242323 61%);
  background-image: -webkit-linear-gradient(bottom, #2f2f2f 23%, #242323 61%);
  background-image: -ms-linear-gradient(bottom, #2f2f2f 23%, #242323 61%);
  background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0.23, #2f2f2f), color-stop(0.61, #242323));
}
footer {
  padding: 20px 10px;
  color: #ffffff;
  /*font-size: @seconder_font_size;*/

  position: relative;
}
footer a {
  color: #ffffff;
}
footer .footer_thumbnail_images {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 420px;
}
footer .footer_thumbnail_images a {
  float: right;
  padding: 0 0 0 20px;
}
.footer_thumbnail img {
  width: 120px;
  height: 60px;
}
.site_footer_image_large img {
  width: 120px;
  height: 60px!important;
}
.footer_navbar {
  margin: 15px 0 0 0;
}
.footer_navbar li {
  display: inline;
  padding-right: 6px;
  border-right: 1px solid #fff;
}
.footer_navbar a:hover,
.footer_navbar a:focus {
  color: #ffffff;
}
/* //////////////////////////////////////////////////////////////// */
/* images */
.entry-thumbnail {
  height: 300px;
  overflow: hidden;
}
.entry-thumbnail img {
  width: 100%;
  height: 100%;
}
.landing_page_news_img {
  width: 100%;
  margin-bottom: 6px;
  height: 183px;
  overflow: hidden;
}
.landing_page_news_img img {
  width: 100%;
}
/* //////////////////////////////////////////////////////////////// */
/* Footer rules end */
/* Document body style rules END */
/*de9b26*/
.testimage {
  display: none;
}
@media screen and (max-width: 768px) {
  /*800*/
  .section_select_buttons {
    position: relative;
    top: 20px !important;
    left: 410px!important;
  }
  /* map rules */
  .map_key {
    width: 80%!important;
    bottom: 30px!important;
  }
  #branding {
    height: 270px!important;
  }
  .home #content .entry-content {
    font-size: 2em;
  }
  .home #content .entry-content .section_select_nav ul {
    margin: 40px 0;
    padding: 0;
  }
  .home #content .entry-content .section_select_nav ul li .developer_btn {
    background: transparent url('../../images/developer_btn_mid.gif') 0 0 no-repeat;
  }
  .home #content .entry-content .section_select_nav ul li .contractor_btn {
    background: transparent url('../../images/contractor_btn_mid.gif') 0 0 no-repeat;
    margin: 0 10px;
  }
  .home #content .entry-content .section_select_nav ul li .refurbisher_btn {
    background: transparent url('../../images/refurbisher_btn_mid.gif') 0 0 no-repeat;
  }
  .home #content .entry-content .section_select_nav ul li .developer_btn:hover {
    background-position: 0 -204px;
  }
  .home #content .entry-content .section_select_nav ul li .contractor_btn:hover {
    background-position: 0 -204px;
  }
  .home #content .entry-content .section_select_nav ul li .refurbisher_btn:hover {
    background-position: 0 -204px;
  }
  .home #content .entry-content .section_select_nav ul li a {
    height: 200px;
    width: 205px;
    float: left;
  }
}
/* Smartphones (portrait) ----------- Start */
/* //////////////////////////////////////////////////////////////// */
@media screen and (max-width: 420px) {
  /*320*/
  .project_tagged_clusters .span12 {
    height: 400px!important;
  }
  .project_tagged_clusters .span12 .thumbnails .span5 {
    min-height: 10px!important;
  }
  #Carousel_Latest_News h3 {
    margin-bottom: 10px;
    font-size: 1.1em!important;
    text-shadow: -2px 2px 2px #050505;
    -moz-text-shadow: -2px 2px 2px #050505;
    -webkit-text-shadow: -2px 2px 2px #050505;
    filter: dropshadow(color=#050505, offx=-2, offy=2);
  }
  #Carousel_Latest_News p {
    font-size: 1em!important;
    padding-right: 140px;
    text-shadow: -2px 2px 2px #050505;
    -moz-text-shadow: -2px 2px 2px #050505;
    -webkit-text-shadow: -2px 2px 2px #050505;
    filter: dropshadow(color=#050505, offx=-2, offy=2);
  }
  .home #content .entry-content {
    font-size: 0.9em;
  }
  .home #content .entry-content p {
    padding: 0;
    text-shadow: -2px 2px 2px #050505;
    -moz-text-shadow: -2px 2px 2px #050505;
    -webkit-text-shadow: -2px 2px 2px #050505;
    filter: dropshadow(color=#050505, offx=-2, offy=2);
  }
  .home #content .entry-content .section_select_nav ul {
    margin: 0;
    padding: 0 0 0 40px !important;
    margin-top: 20px;
  }
  .home #content .entry-content .section_select_nav ul li .developer_btn {
    background: transparent url('../../images/developer_btn_xsmall.gif') 0 0 no-repeat !important;
  }
  .home #content .entry-content .section_select_nav ul li .contractor_btn {
    background: transparent url('../../images/contractor_btn_xsmall.gif') 0 0 no-repeat !important;
    margin: 0 5px;
  }
  .home #content .entry-content .section_select_nav ul li .refurbisher_btn {
    background: transparent url('../../images/refurbisher_btn_xsmall.gif') 0 0 no-repeat !important;
  }
  .home #content .entry-content .section_select_nav ul li .developer_btn:hover {
    background-position: 0 -61px !important;
  }
  .home #content .entry-content .section_select_nav ul li .contractor_btn:hover {
    background-position: 0 -61px !important;
  }
  .home #content .entry-content .section_select_nav ul li .refurbisher_btn:hover {
    background-position: 0 -61px !important;
  }
  .home #content .entry-content .section_select_nav ul li a {
    height: 60px!important;
    width: 60px!important;
    float: left;
  }
  .news_ticker {
    margin-top: 20px;
  }
  .large_banner_txt {
    position: relative!important;
    width: 94.7%!important;
    top: 0!important;
    left: 0!important;
  }
  .section_select_buttons {
    left: 0!important;
  }
  /* map rules */
  .map_key {
    width: 99%!important;
    bottom: 30px!important;
    margin: 2px!important;
    padding: 17px 0 0 0!important;
    height: 30px!important;
  }
  .map_key ul {
    margin: 0!important;
    padding: 1px!important;
    font-size: 10px!important;
  }
  .map_key li {
    margin: 0!important;
    padding: 1px!important;
    font-size: 10px!important;
  }
  /* Grid systems */
  .projects_cluster .projects_cluster_large {
    width: 100%;
  }
  .projects_cluster .projects_cluster_small {
    width: 100%;
  }
  .section_select_buttons {
    position: relative;
    top: 10px;
    left: 10px;
    text-align: right;
  }
  .search_content p {
    margin-right: 10px;
  }
  .breadcrumb {
    display: none;
  }
  .selection_menu {
    display: none;
    width: 100%;
  }
  .selection_menu a {
    display: block;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 5px 20px 5px 20px;
  }
  .selection_menu .options_divider {
    display: none;
  }
  .userOptions {
    display: none;
  }
  .site_logo {
    height: 55px;
    top: 0;
    width: 100%;
    text-align: center;
  }
  .site_logo img {
    width: 150px;
    height: 45px;
  }
  .site_search {
    /*top: -22px;*/
  
    padding: 50px 0 10px 0 !important;
  }
  .site_search .btn-info {
    width: 93%;
    margin-top: 15px;
  }
  .site_search .input-append {
    width: 100%;
  }
  .site_search #appendedInputButton {
    width: 90%;
  }
  .navbar-inner {
    margin-top: 20px;
  }
  .navbar .nav > li > a,
  .dropdown-submenu > a {
    border-left: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
  }
  .social_button_wrapper {
    top: 150px !important;
  }
  .dropdown-menu {
    margin: 0!important;
    border: none;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
  }
  .menu-item-home > a {
    padding: 1px 15px 1px 15px!important;
  }
  .footer_thumbnail img {
    width: 120px;
    height: 60px;
  }
  .footer_thumbnail_images a {
    padding: 0 0 0 6px;
  }
  .site-footer {
    font-size: 10px;
  }
  .footer_thumbnail_images {
    top: 10px!important;
  }
  .footer_thumbnail img {
    width: 60px!important;
    height: 30px!important;
  }
  .entry-thumbnail {
    height: 200px;
  }
  #projectTabs li {
    font-size: 11px;
    padding: 0;
  }
}
/* Smartphones (portrait) ----------- Start */
/* //////////////////////////////////////////////////////////////// */
@media screen and (max-width: 500px) {
  /*500*/
  /* hawks working here*/
  .project_tagged_clusters .span12 .thumbnails .span5 {
    min-height: 10px!important;
  }
  .project_tagged_clusters .span7 p {
    padding-right: 10px !important;
  }
  .home #content .entry-content {
    font-size: 0.9em;
  }
  .home #content .entry-content .section_select_nav ul {
    margin: 0;
    padding: 0 0 0 40px !important;
    margin-top: 20px;
  }
  .home #content .entry-content .section_select_nav ul li .developer_btn {
    background: transparent url('../../images/developer_btn_small.gif') 0 0 no-repeat;
  }
  .home #content .entry-content .section_select_nav ul li .contractor_btn {
    background: transparent url('../../images/contractor_btn_small.gif') 0 0 no-repeat;
    margin: 0 5px;
  }
  .home #content .entry-content .section_select_nav ul li .refurbisher_btn {
    background: transparent url('../../images/refurbisher_btn_small.gif') 0 0 no-repeat;
  }
  .home #content .entry-content .section_select_nav ul li .developer_btn:hover {
    background-position: 0 -102px;
  }
  .home #content .entry-content .section_select_nav ul li .contractor_btn:hover {
    background-position: 0 -102px;
  }
  .home #content .entry-content .section_select_nav ul li .refurbisher_btn:hover {
    background-position: 0 -102px;
  }
  .home #content .entry-content .section_select_nav ul li a {
    height: 98px;
    width: 110px;
    float: left;
    /*background-size: 200px 119px!important;*/
  
  }
  .news_ticker {
    margin-top: 20px;
  }
  .large_banner_txt {
    position: relative!important;
    width: 94.7%!important;
    top: 0!important;
    left: 0!important;
  }
  .section_select_buttons {
    left: 0!important;
  }
  /* map rules */
  .map_key {
    width: 99%!important;
    bottom: 30px!important;
    margin: 2px!important;
    padding: 17px 0 0 0!important;
    height: 30px!important;
  }
  .map_key ul {
    margin: 0!important;
    padding: 1px!important;
    font-size: 10px!important;
  }
  .map_key li {
    margin: 0!important;
    padding: 1px!important;
    font-size: 10px!important;
  }
  /* Grid systems */
  .projects_cluster .projects_cluster_large {
    width: 100%;
  }
  .projects_cluster .projects_cluster_small {
    width: 100%;
  }
  .section_select_buttons {
    position: relative;
    top: 10px;
    left: 10px;
    text-align: right;
  }
  .search_content p {
    margin-right: 10px;
  }
  .breadcrumb {
    display: none;
  }
  .selection_menu {
    width: 100%;
  }
  .selection_menu a {
    display: block;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 5px 20px 5px 20px;
  }
  .selection_menu .options_divider {
    display: none;
  }
  .userOptions button {
    /* width: 100%;*/
  
  }
  .site_logo {
    height: 55px;
    top: 10px;
    width: 100%;
    text-align: center;
  }
  .site_logo img {
    width: 150px;
    height: 45px;
  }
  .site_search {
    /*top: -22px;*/
  
    padding: 30px 0 10px 0;
  }
  .site_search .btn-info {
    width: 93%;
    margin-top: 15px;
  }
  .site_search .input-append {
    width: 100%;
  }
  .site_search #appendedInputButton {
    width: 90%;
  }
  .navbar-inner {
    margin-top: 20px;
  }
  .navbar .nav > li > a,
  .dropdown-submenu > a {
    border-left: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
  }
  .dropdown-menu {
    margin: 0!important;
    border: none;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
  }
  .menu-item-home > a {
    padding: 1px 15px 1px 15px!important;
  }
  .footer_thumbnail img {
    width: 120px;
    height: 60px;
  }
  .footer_thumbnail_images a {
    padding: 0 0 0 6px;
  }
  .site-footer {
    font-size: 10px;
  }
  .footer_thumbnail_images {
    top: 10px!important;
  }
  .footer_thumbnail img {
    width: 60px!important;
    height: 30px!important;
  }
  .entry-thumbnail {
    height: 200px;
  }
  #projectTabs li {
    font-size: 11px;
    padding: 0;
  }
}
